.KoulutuksetOppilaitokset {
    text-align: left;
    color: #000000;
}

.Hakutulos_pallo {
    border: solid 1px #979797;
    padding: 10px;
    border-radius: 50%;
    color: #000000;
    text-align: center;

    height: 32px;
    width: 32px;
    line-height: 10px;

    display: inline-block;
}

.Etsinta {
    margin-top: 30px;
}

.Valittu{
    padding-bottom: 5px;
    border-bottom: 3px solid #f5aa01;
    display: inline-block;
    line-height: 0.50;
}

