@import './settings';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[tabindex='-1']:focus {
  outline: 0 !important;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: $theme-font-family;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}
body.no-scroll {
  overflow-y: hidden;
}

a:focus {
  outline: none;
  text-decoration: none;
  color: auto;
}
a.search-button:focus,
a.navbar-brand:focus {
  color: white;
}
.red {
  color: $dark-red;
}
.dark-blue {
  color: $flat-blue;
}
.light-blue {
  color: $dark-flat-blue;
}
.green {
  color: $dark-flat-green;
}
.purple {
  color: $amethyst;
}
.brown {
  color: $dark-grey;
}

#page-content-wrapper {
  position: absolute;
  margin-right: -220px;
  width: 100%;
  background: $main-bg;
}

.btn {
  &.btn-primary {
    @include rgba-color($water-blue, 1);
    width: 180px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    &.disabled {
      @include rgba-color($water-blue, 0.5);
    }
  }
}
