@import './settings';

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
[tabindex="-1"]:focus {
    outline: 0 !important;
}
*:focus {
    outline: none;
}
html, body {
    width: auto !important;
    overflow-x: hidden !important;
    height: 100%;
}
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: $theme-font-family;
    position: relative;
    overflow-x: hidden;
	background-color: #fff
}
body.no-scroll {
    overflow-y: hidden;
}

a:focus {
    outline: none;
    text-decoration: none;
    color: auto;    
}
a.search-button:focus,a.navbar-brand:focus {
    color: white;
}
ul{
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: $font-color;
    margin-block-start: .2rem;
    margin-block-end: .2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1 {
    @include fluid-sizing('font-size', $h1-font-size-map);
    @include fluid-sizing('line-height', $h1-line-height-map);
}
h2 {
    @include fluid-sizing('font-size', $h2-font-size-map);
    @include fluid-sizing('line-height', $h2-line-height-map);
}
h3 {
    @include fluid-sizing('font-size', $h3-font-size-map);
    @include fluid-sizing('line-height', $h3-line-height-map);
}
h1 a,
h1 p,
h1 span{
    @include fluid-sizing('font-size', $h1-font-size-map);
    @include fluid-sizing('line-height', $h1-line-height-map);
}
h2 a,
h2 p,
h2 span{
    @include fluid-sizing('font-size', $h2-font-size-map);
    @include fluid-sizing('line-height', $h2-line-height-map);
}
h3 a,
h3 p,
h3 span{
    @include fluid-sizing('font-size', $h3-font-size-map);
    @include fluid-sizing('line-height', $h3-line-height-map);
}
a {
    color: $dark-flat-blue;
    @include fluid-sizing('font-size', $text-font-size-map);
    @include fluid-sizing('line-height', $text-line-height-map);
}
p,
span{
    @include fluid-sizing('font-size', $text-font-size-map);
    @include fluid-sizing('line-height', $text-line-height-map);
}
.red {
    color: $dark-red;
}
.dark-blue {
    color: $flat-blue;
}
.light-blue {
    color: $dark-flat-blue;
}
.green {
    color: $dark-flat-green;
}
.purple {
    color: $amethyst;
}
.brown {
    color: $dark-grey;
}

#page-content-wrapper {
    position: absolute;
    margin-right: -220px;
    width: 100%;
    background: $main-bg;
}

.btn{
    &.btn-primary{
        @include rgba-color($water-blue, 1);
        width: 180px;
        height: 40px;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
        color: white;
        &.disabled{
            @include rgba-color($water-blue, .5);
        }
    }
}