$material-icons-font-family: "material-icons-font" !default;
$font-path: "../fonts" !default;

$icon-ic-next-result: "\e90a";
$icon-ic-previous-result: "\e90b";
$icon-ic-search-result: "\e90c";
$icon-outline-report_problem: "\f00a";
$icon-ic_delete_forever: "\ec4b";
$icon-ic_delete_sweep: "\eb7a";
$icon-ic_place: "\e9c1";
$icon-ic_check_box: "\e900";
$icon-ic_check_box_outline_blank: "\e901";
$icon-ic-back-button: "\e902";
$icon-ic_radio_button_checked: "\e903";
$icon-ic_radio_button_unchecked: "\e904";
$icon-ic_star: "\e905";
$icon-ic_star_border: "\e906";
$icon-ic_star_half: "\e907";
$icon-ic-help: "\e908";
$icon-ic_domain: "\e909";
$icon-ic_notifications: "\e90f";
$icon-ic_notifications_active: "\e910";
$icon-ic_notifications_none: "\e911";
$icon-ic_notifications_off: "\e912";
$icon-ic_notifications_paused: "\e913";
$icon-ic_school: "\e91e";
$icon-ic_share: "\e924";
$icon-ic_priority_high: "\e95f";
$icon-ic_sms: "\e963";
$icon-ic_sms_failed: "\e964";
$icon-ic_apps: "\e970";
$icon-ic_menu: "\e983";
$icon-ic_more_horiz: "\e984";
$icon-ic_more_vert: "\e985";
$icon-ic_directions_boat: "\e98f";
$icon-ic_directions_bus: "\e990";
$icon-ic_directions_car: "\e991";
$icon-ic_directions_railway: "\e992";
$icon-ic_directions_run: "\e993";
$icon-ic_directions_transit: "\e995";
$icon-ic_directions_walk: "\e996";
$icon-ic_my_location: "\e9bb";
$icon-ic_near_me: "\e9bd";
$icon-ic_subway: "\e9c8";
$icon-ic_tram: "\e9cc";
$icon-ic_dehaze: "\e9fd";
$icon-ic_edit: "\e9ff";
$icon-ic_remove_red_eye: "\ea4f";
$icon-ic_style: "\ea55";
$icon-ic_keyboard_arrow_down: "\ea77";
$icon-ic_keyboard_arrow_left: "\ea78";
$icon-ic_keyboard_arrow_right: "\ea79";
$icon-ic_keyboard_arrow_up: "\ea7a";
$icon-ic_keyboard_return: "\ea7e";
$icon-ic_security: "\ea8e";
$icon-ic_toys: "\ea96";
$icon-ic_cloud_download: "\ea9e";
$icon-ic_bubble_chart: "\eab7";
$icon-ic_archive: "\eb72";
$icon-ic_remove_circle: "\eb8a";
$icon-ic_remove_circle_outline: "\eb8b";
$icon-ic_report: "\eb8e";
$icon-ic_business: "\eb97";
$icon-ic_live_help: "\ebaf";
$icon-ic_playlist_add: "\ebf5";
$icon-ic_playlist_add_check: "\ebf6";
$icon-ic_error: "\ec1a";
$icon-ic_error_outline: "\ec1b";
$icon-ic_account_balance: "\ec20";
$icon-ic_account_circle: "\ec23";
$icon-ic_alarm_off: "\ec27";
$icon-ic_announcement: "\ec2b";
$icon-ic_delete: "\ec4a";
$icon-ic_done: "\ec4e";
$icon-ic_done_all: "\ec4f";
$icon-ic_exit_to_app: "\ec56";
$icon-ic_favorite: "\ec5a";
$icon-ic_favorite_border: "\ec5b";
$icon-ic_fingerprint: "\ec5f";
$icon-ic_lightbulb_outline: "\ec7c";
$icon-ic_lock: "\ec80";
$icon-ic_lock_open: "\ec81";
$icon-ic_lock_outline: "\ec82";
$icon-ic_offline_pin: "\ec87";
$icon-ic_question_answer: "\eca0";
$icon-ic_record_voice_over: "\eca2";
$icon-ic_search: "\ecad";
$icon-ic_settings: "\ecae";
$icon-ic_settings_applications: "\ecaf";
$icon-ic_track_changes: "\ecd9";
$icon-ic_verified_user: "\ece1";
$icon-outline-access_alarm: "\ecf8";
$icon-outline-access_time: "\ecfa";
$icon-outline-account_circle: "\ed02";
$icon-outline-add_circle_outline: "\ed08";
$icon-outline-add_location: "\ed0b";
$icon-outline-bubble_chart: "\ed97";
$icon-outline-close: "\edd0";
$icon-outline-cloud_download: "\edd4";
$icon-outline-edit: "\ee31";
$icon-outline-error_outline: "\ee36";
$icon-outline-error: "\ee37";
$icon-outline-help_outline: "\eec5";
$icon-outline-help: "\eec6";
$icon-outline-home: "\eecb";
$icon-outline-new_releases: "\ef78";
$icon-outline-remove_red_eye: "\effd";
$icon-outline-school-1: "\f022";
$icon-outline-share: "\f048";
$icon-outline-toys: "\f0dc";
$icon-outline-vpn_key: "\f119";
$icon-outline-warning: "\f11c";
$icon-outline-wc: "\f125";
