@import "./settings";
@import "./font-variables";

@font-face {
  font-family: "#{$material-icons-font-family}";
  src:  url("#{$font-path}/#{$material-icons-font-family}.eot?rix4ih");
  src:  url("#{$font-path}/#{$material-icons-font-family}.eot?rix4ih#iefix") format("embedded-opentype"),
    url("#{$font-path}/#{$material-icons-font-family}.ttf?rix4ih") format("truetype"),
    url("#{$font-path}/#{$material-icons-font-family}.woff?rix4ih") format("woff"),
    url("#{$font-path}/#{$material-icons-font-family}.svg?rix4ih##{$material-icons-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("#{$theme-font-path}-v15-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("#{$theme-font-path}-v15-latin-300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-300.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-300.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-300.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("#{$theme-font-path}-v15-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
       url("#{$theme-font-path}-v15-latin-300italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-300italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-300italic.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-300italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-300italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("#{$theme-font-path}-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("#{$theme-font-path}-v15-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("#{$theme-font-path}-v15-latin-italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
       url("#{$theme-font-path}-v15-latin-italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-italic.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("#{$theme-font-path}-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
       url("#{$theme-font-path}-v15-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-600.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-600.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-600.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("#{$theme-font-path}-v15-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"),
       url("#{$theme-font-path}-v15-latin-600italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-600italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-600italic.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-600italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-600italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("#{$theme-font-path}-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
       url("#{$theme-font-path}-v15-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-700.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("#{$theme-font-path}-v15-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"),
       url("#{$theme-font-path}-v15-latin-700italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-700italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-700italic.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-700italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-700italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("#{$theme-font-path}-v15-latin-800.eot"); /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
       url("#{$theme-font-path}-v15-latin-800.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-800.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-800.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-800.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-800.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("#{$theme-font-path}-v15-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"),
       url("#{$theme-font-path}-v15-latin-800italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("#{$theme-font-path}-v15-latin-800italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("#{$theme-font-path}-v15-latin-800italic.woff") format("woff"), /* Modern Browsers */
       url("#{$theme-font-path}-v15-latin-800italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("#{$theme-font-path}-v15-latin-800italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$material-icons-font-family}" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_event {
  &:before {
    content: $icon-ic_event; 
  }
}
.icon-ic_event_available {
  &:before {
    content: $icon-ic_event_available; 
  }
}
.icon-ic_event_busy {
  &:before {
    content: $icon-ic_event_busy; 
  }
}
.icon-ic_event_note {
  &:before {
    content: $icon-ic_event_note; 
  }
}
.icon-outline-calendar_today {
  &:before {
    content: $icon-outline-calendar_today; 
  }
}
.icon-ic_linkedin {
  &:before {
    content: $icon-ic_linkedin; 
  }
}
.icon-ic_facebook {
  &:before {
    content: $icon-ic_facebook; 
  }
}
.icon-ic_twitter {
  &:before {
    content: $icon-ic_twitter; 
  }
}
.icon-ic_instagram {
  &:before {
    content: $icon-ic_instagram; 
  }
}
.icon-ic_email {
  &:before {
    content: $icon-ic_email; 
  }
}
.icon-ic_language {
  &:before {
    content: $icon-ic_language; 
  }
}
.icon-ic-next-result {
  &:before {
    content: $icon-ic-next-result; 
  }
}
.icon-ic-previous-result {
  &:before {
    content: $icon-ic-previous-result; 
  }
}
.icon-ic-search-result {
  &:before {
    content: $icon-ic-search-result; 
  }
}
.icon-ic-back-button {
  &:before {
    content: $icon-ic-back-button; 
  }
}
.icon-ic-block-expanded {
  &:before {
    content: $icon-ic-block-expanded; 
  }
}
.icon-ic-block-collapsed {
  &:before {
    content: $icon-ic-block-collapsed; 
  }
}
.icon-ic_delete_forever {
  &:before {
    content: $icon-ic_delete_forever; 
  }
}
.icon-ic_delete_sweep {
  &:before {
    content: $icon-ic_delete_sweep; 
  }
}
.icon-ic_place {
  &:before {
    content: $icon-ic_place; 
  }
}
.icon-ic_check_box {
  &:before {
    content: $icon-ic_check_box; 
  }
}
.icon-ic_check_box_outline_blank {
  &:before {
    content: $icon-ic_check_box_outline_blank; 
  }
}
.icon-ic_radio_button_checked {
  &:before {
    content: $icon-ic_radio_button_checked; 
  }
}
.icon-ic_radio_button_unchecked {
  &:before {
    content: $icon-ic_radio_button_unchecked; 
  }
}
.icon-ic_star {
  &:before {
    content: $icon-ic_star; 
  }
}
.icon-ic_star_border {
  &:before {
    content: $icon-ic_star_border; 
  }
}
.icon-ic_star_half {
  &:before {
    content: $icon-ic_star_half; 
  }
}
.icon-ic_domain {
  &:before {
    content: $icon-ic_domain; 
  }
}
.icon-ic_notifications {
  &:before {
    content: $icon-ic_notifications; 
  }
}
.icon-ic_notifications_active {
  &:before {
    content: $icon-ic_notifications_active; 
  }
}
.icon-ic_notifications_none {
  &:before {
    content: $icon-ic_notifications_none; 
  }
}
.icon-ic_notifications_off {
  &:before {
    content: $icon-ic_notifications_off; 
  }
}
.icon-ic_notifications_paused {
  &:before {
    content: $icon-ic_notifications_paused; 
  }
}
.icon-ic_school {
  &:before {
    content: $icon-ic_school; 
  }
}
.icon-outline-school-1 {
  &:before {
    content: $icon-outline-school-1; 
  }
}
.icon-ic_share {
  &:before {
    content: $icon-ic_share; 
  }
}
.icon-ic_priority_high {
  &:before {
    content: $icon-ic_priority_high; 
  }
}
.icon-ic_sms {
  &:before {
    content: $icon-ic_sms; 
  }
}
.icon-ic_sms_failed {
  &:before {
    content: $icon-ic_sms_failed; 
  }
}
.icon-ic_apps {
  &:before {
    content: $icon-ic_apps; 
  }
}
.icon-ic_menu {
  &:before {
    content: $icon-ic_menu; 
  }
}
.icon-ic_more_horiz {
  &:before {
    content: $icon-ic_more_horiz; 
  }
}
.icon-ic_more_vert {
  &:before {
    content: $icon-ic_more_vert; 
  }
}
.icon-ic_directions_boat {
  &:before {
    content: $icon-ic_directions_boat; 
  }
}
.icon-ic_directions_bus {
  &:before {
    content: $icon-ic_directions_bus; 
  }
}
.icon-ic_directions_car {
  &:before {
    content: $icon-ic_directions_car; 
  }
}
.icon-ic_directions_railway {
  &:before {
    content: $icon-ic_directions_railway; 
  }
}
.icon-ic_directions_run {
  &:before {
    content: $icon-ic_directions_run; 
  }
}
.icon-ic_directions_transit {
  &:before {
    content: $icon-ic_directions_transit; 
  }
}
.icon-ic_subway {
  &:before {
    content: $icon-ic_subway; 
  }
}
.icon-ic_tram {
  &:before {
    content: $icon-ic_tram; 
  }
}
.icon-ic_directions_walk {
  &:before {
    content: $icon-ic_directions_walk; 
  }
}
.icon-ic_my_location {
  &:before {
    content: $icon-ic_my_location; 
  }
}
.icon-ic_near_me {
  &:before {
    content: $icon-ic_near_me; 
  }
}
.icon-ic_dehaze {
  &:before {
    content: $icon-ic_dehaze; 
  }
}
.icon-ic_edit {
  &:before {
    content: $icon-ic_edit; 
  }
}
.icon-ic_remove_red_eye {
  &:before {
    content: $icon-ic_remove_red_eye; 
  }
}
.icon-ic_style {
  &:before {
    content: $icon-ic_style; 
  }
}
.icon-ic_keyboard_arrow_down {
  &:before {
    content: $icon-ic_keyboard_arrow_down; 
  }
}
.icon-ic_keyboard_arrow_left {
  &:before {
    content: $icon-ic_keyboard_arrow_left; 
  }
}
.icon-ic_keyboard_arrow_right {
  &:before {
    content: $icon-ic_keyboard_arrow_right; 
  }
}
.icon-ic_keyboard_arrow_up {
  &:before {
    content: $icon-ic_keyboard_arrow_up; 
  }
}
.icon-ic_keyboard_return {
  &:before {
    content: $icon-ic_keyboard_return; 
  }
}
.icon-ic_security {
  &:before {
    content: $icon-ic_security; 
  }
}
.icon-ic_toys {
  &:before {
    content: $icon-ic_toys; 
  }
}
.icon-ic_cloud_download {
  &:before {
    content: $icon-ic_cloud_download; 
  }
}
.icon-ic_bubble_chart {
  &:before {
    content: $icon-ic_bubble_chart; 
  }
}
.icon-ic_archive {
  &:before {
    content: $icon-ic_archive; 
  }
}
.icon-ic_remove_circle {
  &:before {
    content: $icon-ic_remove_circle; 
  }
}
.icon-ic_remove_circle_outline {
  &:before {
    content: $icon-ic_remove_circle_outline; 
  }
}
.icon-ic_business {
  &:before {
    content: $icon-ic_business; 
  }
}
.icon-ic-help {
  &:before {
    content: $icon-ic-help; 
  }
}
.icon-outline-help_outline {
  &:before {
    content: $icon-outline-help_outline; 
  }
}
.icon-outline-help {
  &:before {
    content: $icon-outline-help; 
  }
}
.icon-ic_live_help {
  &:before {
    content: $icon-ic_live_help; 
  }
}
.icon-outline-warning {
  &:before {
    content: $icon-outline-warning; 
  }
}
.icon-outline-report_problem {
  &:before {
    content: $icon-outline-report_problem; 
  }
}
.icon-ic_error {
  &:before {
    content: $icon-ic_error; 
  }
}
.icon-ic_error_outline {
  &:before {
    content: $icon-ic_error_outline; 
  }
}
.icon-ic_report {
  &:before {
    content: $icon-ic_report; 
  }
}
.icon-ic_announcement {
  &:before {
    content: $icon-ic_announcement; 
  }
}
.icon-ic_playlist_add {
  &:before {
    content: $icon-ic_playlist_add; 
  }
}
.icon-ic_playlist_add_check {
  &:before {
    content: $icon-ic_playlist_add_check; 
  }
}
.icon-ic_account_balance {
  &:before {
    content: $icon-ic_account_balance; 
  }
}
.icon-ic_account_circle {
  &:before {
    content: $icon-ic_account_circle; 
  }
}
.icon-outline-account_circle {
  &:before {
    content: $icon-outline-account_circle; 
  }
}
.icon-ic_alarm_off {
  &:before {
    content: $icon-ic_alarm_off; 
  }
}
.icon-ic_delete {
  &:before {
    content: $icon-ic_delete; 
  }
}
.icon-ic_done {
  &:before {
    content: $icon-ic_done; 
  }
}
.icon-ic_done_all {
  &:before {
    content: $icon-ic_done_all; 
  }
}
.icon-ic_exit_to_app {
  &:before {
    content: $icon-ic_exit_to_app; 
  }
}
.icon-ic_favorite {
  &:before {
    content: $icon-ic_favorite; 
  }
}
.icon-ic_favorite_border {
  &:before {
    content: $icon-ic_favorite_border; 
  }
}
.icon-ic_fingerprint {
  &:before {
    content: $icon-ic_fingerprint; 
  }
}
.icon-ic_lightbulb_outline {
  &:before {
    content: $icon-ic_lightbulb_outline; 
  }
}
.icon-ic_lock {
  &:before {
    content: $icon-ic_lock; 
  }
}
.icon-ic_lock_outline {
  &:before {
    content: $icon-ic_lock_outline; 
  }
}
.icon-ic_lock_open {
  &:before {
    content: $icon-ic_lock_open; 
  }
}
.icon-ic_offline_pin {
  &:before {
    content: $icon-ic_offline_pin; 
  }
}
.icon-ic_question_answer {
  &:before {
    content: $icon-ic_question_answer; 
  }
}
.icon-ic_record_voice_over {
  &:before {
    content: $icon-ic_record_voice_over; 
  }
}
.icon-ic_search {
  &:before {
    content: $icon-ic_search; 
  }
}
.icon-ic_settings {
  &:before {
    content: $icon-ic_settings; 
  }
}
.icon-ic_settings_applications {
  &:before {
    content: $icon-ic_settings_applications; 
  }
}
.icon-ic_track_changes {
  &:before {
    content: $icon-ic_track_changes; 
  }
}
.icon-ic_verified_user {
  &:before {
    content: $icon-ic_verified_user; 
  }
}
.icon-outline-access_alarm {
  &:before {
    content: $icon-outline-access_alarm; 
  }
}
.icon-outline-access_time {
  &:before {
    content: $icon-outline-access_time; 
  }
}
.icon-outline-add_circle_outline {
  &:before {
    content: $icon-outline-add_circle_outline; 
  }
}
.icon-outline-add_location {
  &:before {
    content: $icon-outline-add_location; 
  }
}
.icon-outline-bubble_chart {
  &:before {
    content: $icon-outline-bubble_chart; 
  }
}
.icon-outline-close {
  &:before {
    content: $icon-outline-close; 
  }
}
.icon-outline-cloud_download {
  &:before {
    content: $icon-outline-cloud_download; 
  }
}
.icon-outline-edit {
  &:before {
    content: $icon-outline-edit; 
  }
}
.icon-outline-error_outline {
  &:before {
    content: $icon-outline-error_outline; 
  }
}
.icon-outline-error {
  &:before {
    content: $icon-outline-error; 
  }
}
.icon-outline-home {
  &:before {
    content: $icon-outline-home; 
  }
}
.icon-baseline-home {
  &:before {
    content: $icon-baseline-home; 
  }
}
.icon-outline-new_releases {
  &:before {
    content: $icon-outline-new_releases; 
  }
}
.icon-outline-remove_red_eye {
  &:before {
    content: $icon-outline-remove_red_eye; 
  }
}
.icon-outline-share {
  &:before {
    content: $icon-outline-share; 
  }
}
.icon-outline-toys {
  &:before {
    content: $icon-outline-toys; 
  }
}
.icon-outline-vpn_key {
  &:before {
    content: $icon-outline-vpn_key; 
  }
}
.icon-outline-wc {
  &:before {
    content: $icon-outline-wc; 
  }
}


