
$icons: (
    ic_event: "\e90d",
    ic_event_available: "\e90e",
    ic_event_busy: "\e914",
    ic_event_note: "\e915",
    outline-calendar_today: "\e916",
    ic_linkedin: "\e917",
    ic_facebook: "\e918",
    ic_twitter: "\e919",
    ic_instagram: "\e91a",
    ic_email: "\e91b",
    ic_language: "\e91c",
    ic-next-result: "\e90a",
    ic-previous-result: "\e90b",
    ic-search-result: "\e90c",
    ic-back-button: "\e902",
    ic-block-expanded: "\e91f",
    ic-block-collapsed: "\e920",
    ic_delete_forever: "\ec4b",
    ic_delete_sweep: "\eb7a",
    ic_place: "\e9c1",
    ic_check_box: "\e900",
    ic_check_box_outline_blank: "\e901",
    ic_radio_button_checked: "\e903",
    ic_radio_button_unchecked: "\e904",
    ic_star: "\e905",
    ic_star_border: "\e906",
    ic_star_half: "\e907",
    ic_domain: "\e909",
    ic_notifications: "\e90f",
    ic_notifications_active: "\e910",
    ic_notifications_none: "\e911",
    ic_notifications_off: "\e912",
    ic_notifications_paused: "\e913",
    ic_school: "\e91e",
    outline-school-1: "\f022",
    ic_share: "\e924",
    ic_priority_high: "\e95f",
    ic_sms: "\e963",
    ic_sms_failed: "\e964",
    ic_apps: "\e970",
    ic_menu: "\e983",
    ic_more_horiz: "\e984",
    ic_more_vert: "\e985",
    ic_directions_boat: "\e98f",
    ic_directions_bus: "\e990",
    ic_directions_car: "\e991",
    ic_directions_railway: "\e992",
    ic_directions_run: "\e993",
    ic_directions_transit: "\e995",
    ic_subway: "\e9c8",
    ic_tram: "\e9cc",
    ic_directions_walk: "\e996",
    ic_my_location: "\e9bb",
    ic_near_me: "\e9bd",
    ic_dehaze: "\e9fd",
    ic_edit: "\e9ff",
    ic_remove_red_eye: "\ea4f",
    ic_style: "\ea55",
    ic_keyboard_arrow_down: "\ea77",
    ic_keyboard_arrow_left: "\ea78",
    ic_keyboard_arrow_right: "\ea79",
    ic_keyboard_arrow_up: "\ea7a",
    ic_keyboard_return: "\ea7e",
    ic_security: "\ea8e",
    ic_toys: "\ea96",
    ic_cloud_download: "\ea9e",
    ic_bubble_chart: "\eab7",
    ic_archive: "\eb72",
    ic_remove_circle: "\eb8a",
    ic_remove_circle_outline: "\eb8b",
    ic_business: "\eb97",
    ic-help: "\e908",
    outline-help_outline: "\eec5",
    outline-help: "\eec6",
    ic_live_help: "\ebaf",
    outline-warning: "\f11c",
    outline-report_problem: "\f00a",
    ic_error: "\ec1a",
    ic_error_outline: "\ec1b",
    ic_report: "\eb8e",
    ic_announcement: "\ec2b",
    ic_playlist_add: "\ebf5",
    ic_playlist_add_check: "\ebf6",
    ic_account_balance: "\ec20",
    ic_account_circle: "\ec23",
    outline-account_circle: "\ed02",
    ic_alarm_off: "\ec27",
    ic_delete: "\ec4a",
    ic_done: "\ec4e",
    ic_done_all: "\ec4f",
    ic_exit_to_app: "\ec56",
    ic_favorite: "\ec5a",
    ic_favorite_border: "\ec5b",
    ic_fingerprint: "\ec5f",
    ic_lightbulb_outline: "\ec7c",
    ic_lock: "\ec80",
    ic_lock_outline: "\ec82",
    ic_lock_open: "\ec81",
    ic_offline_pin: "\ec87",
    ic_question_answer: "\eca0",
    ic_record_voice_over: "\eca2",
    ic_search: "\ecad",
    ic_settings: "\ecae",
    ic_settings_applications: "\ecaf",
    ic_track_changes: "\ecd9",
    ic_verified_user: "\ece1",
    outline-access_alarm: "\ecf8",
    outline-access_time: "\ecfa",
    outline-add_circle_outline: "\ed08",
    outline-add_location: "\ed0b",
    outline-bubble_chart: "\ed97",
    outline-close: "\edd0",
    outline-cloud_download: "\edd4",
    outline-edit: "\ee31",
    outline-error_outline: "\ee36",
    outline-error: "\ee37",
    outline-home: "\eecb",
    baseline-home: "\e91d",
    outline-new_releases: "\ef78",
    outline-remove_red_eye: "\effd",
    outline-share: "\f048",
    outline-toys: "\f0dc",
    outline-vpn_key: "\f119",
    outline-wc: "\f125"
);
