// Colors
$white: #ffffff;
$main-bg: #f8f8f8;
$pinkish-grey: #cecece;
$soft-grey: #979797;
$battleship-grey: #6e6e7e;
$greyish-brown: #4a4a4a;
$dark-grey: #313334;
$black: #282828;
$font-color: #222222;
$light-blue: #e0f2fd;
$opaque-blue: #1e7998;
$flat-blue: #316fa0;
$water-blue: #1976D2;
$duck-egg-blue: #ecf3fc;
$beige: #F1F8E9;
$mid-green: #43A047;
$amethyst: #9c56b8;
$brick: #c62828;
$pumpkin: #eb6f02;
$yellow-ochre: #DE9A06;
//fonts
$material-icons-font-family: "material-icons-font" !default;
$font-path: "../fonts" !default;
$theme-font-family:"'Source Sans Pro', sans-serif";
$theme-font-path:"#{$font-path}/source-sans-pro";