@import './animations';
@import './mixins';

// Colors
$white: #FFF;
$side-menu-input-background: #EDF1F5;
$side-menu-input-border: #A5ACB0;
$side-menu-input-color: #909090;
$low-contrast-grey: #e0e1dd;
$grey: #4C4C4C;
$main-bg: #f8f8f8;
$pinkish-grey: #cecece;
$soft-grey: #979797;
$battleship-grey: #6e6e7e;
$greyish-brown: #4a4a4a;
$darker-grey: #313334;
$black: #282828;
$font-color: #222222;
$lighter-blue: #e0f2fd;
$opaque-blue: #1e7998;
$dark-opaque-blue: #017fa9;
$flat-blue: #316fa0;
$water-blue: #1976D2;
$dark-flat-blue: #1976D2;
$duck-egg-blue: #ecf3fc;
$beige: #F1F8E9;
$mid-green: #43A047;
$amethyst: #9c56b8;
$brick: #c62828;
$pumpkin: #eb6f02;
$gold: #f6a623;
$yellow-ochre: #DE9A06;

// Dark colors
$dark-brown: #663300;
$dark-deep-blue:#000066;
$dark-green: #254905;
$dark-red: #993300;
$dark-pink: #660066;
$dark-purple:#660099;
$dark-grey: #4c4c4c;
$dark-deep-blue: #006699;
$dark-blue: #0033cc;
$dark-flat-green: #378703;
$dark-flat-red: #cc3300;
$dark-magenta: #990066;
$dark-flat-pink: #c126b8;

// Base colors
$base-blue: #82d4ff;
$base-deep-blue: #0041dc;
$base-green: #5bca13;
$base-yellow: #ffd900;
$base-orange: #ff5000;
$base-pink: #e60895;
$base-magenta: #c126b8;
$base-black: #000000;

// Light colors
$light-turquoise: #66cccc;
$light-green: #9cff5a;
$light-orange: #ffcc33;
$light-pink: #ff66cc;
$light-purple: #cc99ff;
$light-grey: #b2b2b2;
$light-deep-turquoise: #99ffff;
$ligh-blue: #c0e9ff;
$light-lime:#ccffcc;
$light-deep-yellow: #ffff33;
$light-khaki: #cccc99;
$light-deep-pink: #ffccff;

// Checkbox
$checkbox-border-color: rgba(0, 0, 0, 0.25);
$checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);
$checkbox-margin: 16px 0;
$checkbox-size: 20px;
$checkbox-padding: 5px;
$checkbox-border-width: 1px;
$checkbox-border-radius: 2px;
$checkbox-checkmark-width: 2px;
$checkbox-checkmark-color: white;
$checkbox-label-padding: 12px;

// Animations 
$countDefault: 1 !default;
$durationDefault: 1s !default;
$delayDefault: 0s !default;
$functionDefault: ease !default;
$fillDefault: both;
$visibilityDefault: hidden !default;
$displayDefault: none !default;

//fonts
$material-icons-font-family: "material-icons-font" !default;
$font-path: "../fonts" !default;
$theme-font-family:'Open Sans', sans-serif;
$theme-font-path:"#{$font-path}/open-sans";

/// font size maps for fluid sizing 
/// At least 2 different breakpoins and sizes should be provided
/// font-map:(breakpoint: size, breakpoint: size)

$h1-font-size-map: (576px: 18px, 992px: 30px);
$h1-line-height-map: (576px: 24px, 992px: 36px);
$h1-icon-font-size-map: (576px:28px, 992px: 40px);
$h2-font-size-map: (576px: 16px, 992px: 20px);
$h2-line-height-map: (576px: 26px, 992px: 30px);
$h3-font-size-map: (576px: 16px, 992px: 18px);
$h3-line-height-map: (576px: 32px, 992px: 36px);
$text-font-size-map: (320px: 12px, 576px: 14px, 992px: 16px);
$text-line-height-map: (576px: 26px, 992px: 30px);
