
h3.ng-scope {
    font-size: 17px;
}
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

.organisaatio-yhteystiedot div {
    margin-top: 51px;
}

.oppilaitos-kotisivu {
    margin-left: 51px;
}

.sosiaalinen-media {
    margin-left: 51px;
}

.sosiaalinen-media img {
    width: 60px;
    height: 60px;
}

.oppilaitos-linkki-ikoni {
    width: 16px;
    height: 16px;
    border: thin solid black;
}

.organisaatio-right {
    width: 30%;
    height: 100%;
    color: black;
    display: block;
    float: right;
    position: absolute;
    top: 80px;
    right: 0;
    min-width: 400px;
    border-left: thin solid black;
}

.organisaatiosivu {
    margin-left: 51px;
}


.organisaatiosivu h2 {
    width: 55%;
}

.oppilaitos-yleiskuvaus {
    border-bottom: thin solid black;
    padding-bottom: 30px;
}

.koulutusOtsikko {
    margin-left: 51px;
    margin-bottom: 37px;
}

.oppiaineet h2 {

    padding-bottom: 12px;
    border-bottom: 1px solid #979797;
    width: 65%;
}

.oppiaineet {
    margin-left: 51px;
}

.koulutusinfo-2 {
    display: table;
    width: 80%;
}

.koulutusinfo-2 button {
    color: black;
}

.koulutusinfo-2-left {
    display: table-cell;
    width: 40%;
    background-color: #4d92e3;
    border: solid 1px #979797;
    color: white;
    padding: 1%;
}

.koulutusinfo-2 h2 {
    margin-left: 31px;
    border-bottom: 1px solid white;

}

.koulutusinfo-2-right {
    display: table-cell;
    width: 40%;
    background-color: green;
    border: solid 1px #979797;
    color: white;
    padding: 1%;
}



.koulutusinfolaatikko {
    background-color: #4d92e3;
    border: solid 1px #979797;
    color: white;
    padding: 1%;
    /*margin-left: 51px;*/
}

.koulutusinfolaatikko > ul {
    font-family: 'SourceSansPro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 51px;
}

.oppilaitokset {
    margin-left: 51px;
}

.oppilaitokset h2 {
    width:65%;
}

.oppilaitos-box {
    box-shadow: 0 0px 7px #6b6b6b;
    overflow: hidden;
    width: 45%;
}
.oppilaitokset h3 {
    margin-left: 51px;
}

.line_otsikko {
    border-bottom: solid 1px #979797;
}

.osaamisalat_list_item {
    list-style-type: disc;
}

.sidebar-pic {
    width: 100%;
    height: 100%;
    z-index:2;
}

.koulutusIcon {
    width: 63px;
    height: 63px;
}

.right-column-new {
    width: 30%;
    height: 100%;
    background-color: #cfdde2;
    color: black;
    display: inline-block;
    float: right;
    z-index: 1;
    position: absolute;
    top: 80px;
    right: 0;
    border: 1px solid black;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
#wrapper.toggled {
    padding-left: 220px;
}
div.sidebar-brand {
    width: 100%;
    font-size: 16px;
    padding: 15px 30px;
    color: #ffffff;
    box-shadow: inset 0 -1px 0 0 #101011;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 35, 35, 0.8);
    z-index: 1000;
}
.dropdown-menu li {
    margin: 0 5%;
}
.header-search input {
    margin-left: 0;
}

a:hover {
    -webkit-transition: all ease-in .5s;
    -moz-transition: all ease-in .5s;
    transition: all ease-in .5s;
}
/*Navbar customisation*/
#navbar {
    text-align: center;
}
nav.navbar {
    background-color: #27ae61;
    border-color: transparent;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: transparent !important;
}
.navbar-toggle .icon-bar {
    background-color: #ffffff!important;
    width: 27px;
    position: relative;
    left: 4px;
    margin-left: 0;
    transition: all ease-out .5s;
}
button.navbar-toggle.collapsed:hover .icon-bar:nth-child(3){
    margin: 6px 0;
    transition: all ease-in .5s;
}


.navbar-toggle {
    float: left;
    border: none;
    margin-right: 0;
}
.navbar-toggle::after {
    content: "valikko";
    text-transform: uppercase;
    font-size: 9px;
    color: #ffffff;
    position: relative;
    top: 5px;
}
.navbar-nav li a{
    color: #ffffff!important;
}
.light-font {
    color: #000000;
}
.info-page h1 span:not(.light-font) {
    display: inline-block;
    width: 83%;
    margin: 0 1%;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.info-page .panel-title a {
    width: 100%;
    display: inline-block;
}
.info-page .panel-title a::after {
    content: "\f106";
    font-family: "FontAwesome";
    color: #000000;
}
.info-page .panel-title a.collapsed::after {
    content: "\f107";
    font-family: "FontAwesome";
    color: #000000;
}
.info-page .panel-heading {
    border-bottom: 1px solid #979797;
    background-color: transparent;
    padding: 10px 0;
}
.info-page .panel-heading h4 {
    font-size: 1.35em;
}
ul.accordion {
    padding: 0;
}
.info-page .panel-heading a:hover,
.info-page .panel-heading a:visited,
.info-page .panel-heading a:focus {
    text-decoration: none;
}
.info-page .panel-body {
    color: #000000;
}
.home .panel-title a::before {
    content: "\f272";
    font-weight: 100;
    font-family: "FontAwesome";
    color: #ffffff;
    font-size: 1.25em;
}
.home .panel-title a.collapsed::before {
    content: "\f271";
}
.info-page {
    display: table-cell;
    overflow: hidden;
}
.info-page .panel-body p {
    font-size: 1em;
}
.panel-body .info {
    max-height: 300px;
    height: 100%;
}

.info-page {
    padding-bottom: 4em;
}
.info-page.tutkinnonosat .left-column h1 i {
    color: #f5a623;
}
.info-page.tutkinnonosat .left-column h1 i::after {
    content: "\f233";
    left: 12px;
    top: 15px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.info-page.tutkinnonosat .right-column .bullets {
    z-index: 0;
    position: relative;
}
.info-page.tutkinnonosat .right-column .bullets::after {
    content: "";
    position: absolute;
    border: 1px solid #000000;
    height: 93%;
    display: block;
    z-index: -1;
    left: 50%;
    top: 37px;
}
.info-page.tutkinnonosat .right-column .bullets ul {
    padding: 3% 6%;
    position: relative;
    right: 7%;
}
.info-page.tutkinnonosat .right-column ul li a {
    color: #ffffff;
    border-radius: 10px;
    display: block;
    background: #2c97df;
    padding: 14px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}
.info-page.tutkinnonosat .right-column ul li:first-child a {
    width: 95%;
    float: right;
}
.info-page.tutkinnonosat .right-column ul li:not(:first-child) a {
    width: 80%;
    float: right;
    margin: 25px 0 0;
}
.info-page.tutkinnonosat .right-column ul li:nth-child(1) a {
    background: #00516c;
}
.info-page.tutkinnonosat .right-column ul li.actual-page a {
    background: #f5a623;
}
.info-page.oppilaitos .left-column h1 i {
    color: #0a2f87;
    position: relative;
    top: 10px;
}
.info-page.oppilaitos .left-column h1 i::after {
    font-family: "FontAwesome";
    content: "\f1ad";
    color: #ffffff;
    position: absolute;
    left: 15px;
    font-size: 1.44em;
    top: 16px;
}
.filter-options .action-buttons a {
    display: block;
    text-align: center;
    margin-top: -20px;
}
.filter-options .action-buttons a:nth-child(1) {
    margin: 30px auto !important;
    padding: 5px !important;
}
.filters-main .filter-menu {
    padding: 0;
    display: inline-flex;
}
.filters-main .filter-menu li:nth-child(2) {
    margin-left: 5px;
}
.filters-main .filter-menu li:nth-child(2)::before {
    content: "/";
    margin-right: 5px;
}
.filters-main .filter-menu li.selected a {
    color: #e77e23;
    font-weight: bold;
}
nav.navbar-right li {
    max-width: 400px;
    width: 100%;
}
.wrapper {
    position: relative;
    z-index: 1;
    max-width: 350px;
    width: 100%;
    float: right;
    top: 12px;
    right: 12px;
}
.wrapper::after {
    font-family: "FontAwesome";
    content: "\f002";
    position: relative;
    float: right;
    top: -27px;
    right: 20px;
    color: #63666b;
}
.jumbotron {
    margin-bottom: 0;
    background-color: transparent;
}
#call-to-action {
    background-image:url('../images/o-EDUCATION-facebook.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display: block;
}
#call-to-action-secondary {
    background-image:url('../images/greybg.png');
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
}

#call-to-action-secondary .search-button {
    font-size: 1.5em;
    padding: 35px 25px
}
#call-to-action .jumbotron{
    background: transparent;
    position: relative;
}
.header-search.main {
    padding: 100px 0 40px 0;
}
.header-search input {
    box-shadow: 0 0px 7px #6b6b6b;
    max-width: 450px;
    width: 100%;
    height: 50px;
}
#call-to-action-secondary .header-search {
    padding: 80px 0 20px 15px;
}
.search-button {
    background-color: #e77e22;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 40px 30px;
    border: 5px solid #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-left: 40px;
    letter-spacing: 1px;
}

.search-button:hover {
    text-decoration: none;
    color: #ffffff;
}
.panel-group.home .panel.panel-default {
    margin-bottom: 0;
}
ul{
    list-style-type: none;
}
ul.right-links {
    float: right;
    width: 84%;
}
ul.right-links li a {
    color: #ffffff;
    font-size: 1.15em;
    border: 1px solid #ffffff;
    background-color: #2a2a2a;
    padding: 14px 14px 10px;
    color: #ffffff;
    margin: 5px;
    border-radius: 2px;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    font-weight: 500;
    letter-spacing: .05em;
}
ul.right-links li a::after {
    font-family: "FontAwesome";
    content: "\f105";
    color: #ffffff;
    float: right;
    position: relative;
    top: -1px;
    font-size: 1.3em;
    font-weight: 500;
}
ul.right-links li a:hover {
    text-decoration: none;
}
.haut {
    color: #ffffff;
    min-height: 220px;
    height: auto;
    margin-right: 7px;
    width: 20%;
}
.haut:nth-child(1) {
    background: #00be9c;
}
.haut:nth-child(2) {
    background: #53d78b;
}
.haut:nth-child(3) {
    background: #2c97df;
}
.haut .date {
    float: left;
    font-size: 5em;
    color: #ffffff;
    letter-spacing: -6px;
    font-weight: bold;
    display: inline-grid;
    margin: -5px;
    text-align: center;
}
.haut .date::after {
    top: -.75em;
    font-size: .45em;
    letter-spacing: -2px;
    text-align: center;
}
.haut:nth-child(1) .date::after {
    content: "marras";
    position: relative;
}
.haut:nth-child(2) .date::after {
    content: "tammi";
    position: relative;
}
.haut:nth-child(3) .date::after {
    content: "maalis";
    position: relative;
}
.haut .appointment {
    float: right;
    padding: 5.5%;
    width: 70%;
}
.haut .content {
    height: 60px;
    overflow: hidden;
}
.haut .date-range {
    font-weight: 600;
}
.haut .btn {
    width: 100%;
    font-weight: 600;

}
.box {
    height: auto;
}
.haut .more-search-results a {
    text-decoration: none;
    color: #ffffff;
}
.navbar-right {
    float: right!important;
    margin: 15px 0 0 0;
    max-width: 400px;
    width: 100%;

}
.navbar-right li {
    max-width: 400px;
    width: 100%;
}
.ajankohtaista {
    visibility: hidden;
}
.ajankohtaista img {
    width: 100%;
    min-height: 181px;
    height: auto;
}

ul.site-links {
    padding: 0;
}
.site-links img {
    max-width: 100%;
}
div.site-links {
    margin-bottom: 1.5em;
}

ul.site-links li {
    margin-bottom: 0.5em;
}
.social-media {
    float: right;
    padding-right: 4%;
}
.social-media li {
    display: inline;
    padding-left: .25em;
}
.social-media .separator {
    font-size: 1.5em;
}
.social-media i {
    font-size: 1.7em;
}

.social-media img {
    width: 40px;
}

.container-fluid .col-12 {
    padding-right: 0;
    padding-left: 0;
}

.filter-button.index-page {
    background-image: none;
    display: block;
    position: relative;
    top: 2px;
    background: transparent;
    transition: all ease-in .3s;
}
.filter-button.index-page::after {
    color: #337ab7;
    content: "+ Rajaa etsintää";
}
.filter-button.index-page.sulje {
    transition: all ease-in 1s;
    background: #ffffff;
}
.filter-button.index-page.sulje::after {
    content: "- Sulje rajaimet";
}
.highlight {
    text-transform: capitalize;
}
.box-container a {
    text-decoration: underline;
}
.search-results {
    padding-bottom: 30px;
}

.suosikkit {
    position: relative;
    float: right;
    top: .8em;
    right:15px;
    font-size: 1.35em;
    color: #d6d6d6;
}

.suosikkit i {
    transition: all ease-in .25s;
}
.fa.fa-heart {
    color: #fe0809;
}
.globe {
    position: relative;
    top: 25px;
    left: 10px;
    float: left;
}
.globe i {
    font-size: 6.25em;
}
.globe span {
    position: relative;
    width: 71%;
    display: block;
    margin: 0 auto;
    top: -2.5em;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.25em;
    text-align: center;
    font-family: "SourceSansPro", sans-serif;
}

.separator {
    margin-top: 60px;
}
.suggested-courses {
    border: 1px solid #075c79;
    background: #e7f2f6;
    min-height: 100px;
    height: auto;
    margin-top: 30px;
}
.container-fluid.courses {
    background: #e7f2f6;
}

#koulutusModal .compare-button {
    border: 1px solid #ffffff;
    color: transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    max-width: 200px;
    height: 35px;
    float: right;
    text-align: center;
}
#koulutusModal .compare-button span {
    border: 1px solid #4d93d9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    max-width: 200px;
    width: auto;

    float: right;
    text-align: center;
    -webkit-transition: all ease-in .25s;
    -moz-transition: all ease-in .25s;
    transition: all ease-in .25s;
}
#koulutusModal .compare-button span::after {
    content: "Ota vertailuun";
    color: #ffffff;
    transition: all ease-in .5s;
}
#koulutusModal .course-info {
    word-wrap: break-word;
}

.checkbox, .radio {
    margin-top: 15px;
    margin-bottom: 15px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.osaamisalat {
    font-weight:bold;
    font-size: 18px;
}
.osaamisalat::after {
    content: "\f107";
    margin-left: 10px;
    font-family: "FontAwesome";
}
.accordion .inner.show {
    display: block;
}
.osaamisalat.show::after {
    content: "\f106";
    margin-left: 10px;
    font-family: "FontAwesome";
}

ul.tutkinnon-osat {
    padding: 0;
    font-size: 1.2em;
}
ul.tutkinnon-osat li {
    padding: .65em 0;
}
.right-column img {
    width: 100%;
    position: relative;
    top:-20px;
}
.right-column {
    overflow: hidden;
    background-color: #ecf3fd;
    border-left: 1px solid #979797;
    margin-bottom: -9999999px;
    padding-bottom: 9999999px;
}
.left-column {
    margin-top: 30px;
}

ul.ng-scope {
    list-style-type: disc;
}
ul.ng-scope ul {
    list-style-type: circle;
}
.right-column ul {
    padding: 3% 0;
}
.right-column li {
    padding: 2% 0;
}
.right-column a.external-link {
    color: #4d93d9;
    font-weight: 500;
}
p.student-comment {
    font-size: 1.3em;
    font-style: italic;
    padding: 0 3;
    font-weight: 400;
}
.oppilaitokset h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #979797;
}
.oppilaitos .right-column {
    background-color: transparent;
    padding-top: 30px;
}
.oppilaitos .right-column {
    font-size: 1.2em;
}
.oppilaitos .right-column span {
    color: #9c9c9c;
}
.course-info {
    padding-left: 12px;
    font-weight: 500;
}
.course-info div[class*="col-"] {
    padding: .4% 1%;
}
.oppilaitos .right-column .social-media {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.carousel-control i {
    top: 50%;
    position: relative;
    font-size: 2em;
}
.carousel {
    margin-top:30px;
}
.carousel-inner {
    max-height: 298px;
    overflow: hidden;
}
.right-column iframe {
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin-top: 30px;
}

.hae-koulutukseen {
    background-color: #f3a636;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 0px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0px 7px #6b6b6b;
    margin-left: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 13px rgba(150, 150, 150, 0.85);
    display: table-cell;
    vertical-align: middle;
    font-size: 1.35em;
}

.compare {
    margin-top: 30px;
    margin-left: 30px;
}
.compare .light-font {
    font-size: 0.85em;
}
.compare a.header:before {
    position: relative;
}

h1 a.header:hover,
h1 a.header:visited,
h1 a.header:focus {
    text-decoration: none;
    color: #000000;
}
h1 a span {
    display: block;
    font-weight: 400;
}
h1 a {
    color: #000000;
}
hr {
    border-top: 1px solid #979797;
}

p.btn-education {
    text-align: center;
    margin-top: 40px;
}
.appointment p.btn-education {
    margin-top:0;
}

p.btn-education .btn-default{
    font-weight: 600;
}

strong {
    font-weight: bold;
}

.btn-primary{
    color: white;
}
.btn-primary:hover{
    text-decoration: none;
    color: white;
}
a.btn.btn-primary.tutustu-button {
    display: block;
    margin: 20px 0;
}
.oppilaitos .right-column h1 a {
    color: #000000;
    pointer-events: none;
    cursor: text;
    text-decoration: none;
}
.oppilaitos .right-column h1 a span {
    color: #000000;
}

li.hae {
    text-align: center;
}
li.hae a {
    position: relative;
    left: 15%;
}
li.hae a::after {
    content: "HAE TÄHÄN KOULUTUKSEEN!";
    position: relative;
    display: inline-block;
    top: -56px;
    left: -155px;
    text-align: left;
    width: 100px;
    color: #ffffff;
    font-weight: bold;
}

button.toggle-compare {
    position: relative;
    right: 130px;
    top: 20px;
    font-size: 15px;
    opacity: .7 !important;
    z-index: 2;
}
.table.table-striped {
    font-size: inherit;
}
p.just-info {
    font-weight: bold;
}
.interest-boxes {
    margin-bottom: 40px;
}
.panel-collapse .dropdown {
    top: 22px;
    left: 15px;
}
.panel-collapse .dropdown .btn{
    font-size: 1em
}
.dropdown .btn {
    border-radius: 2px;
}
.blocks-column {
    margin: 30px 0 0;
}
a.titlelink {
    text-transform: none;
    line-height: 1.3;
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.15em;
}