@import './grid/flex-grid.scss';
@import 'font-style';
@import 'base';
@import './animations';
body {
  background-color: $main-bg;
}
@mixin move-330px-for-menu($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(move-330px-for-menu);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
  @include keyframes(move-330px-for-menu) {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: 340px;
    }
  }
}
@mixin return-to-zero($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(return-to-zero);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
  @include keyframes(return-to-zero) {
    0% {
      margin-left: 340px;
    }

    100% {
      margin-left: 0;
    }
  }
}


#app-main-content {
  &.menu-visible {
    margin-left: 340px;
    @include move-330px-for-menu(
        $duration: .1s,
        $delay: 0s,
        $function: ease
    );
  }
  &.menu-invisible {
    margin-left: 0;
    @include return-to-zero(
            $duration: .1s,
            $delay: 0s,
            $function: ease
    );
  }

}