server:
  servlet:
    context-path: /konfo
bucket:
  url: https://{{konfo_content_s3_bucket}}/
host:
  host-oppija: https://{{host_beta}}
  old-oppija-base-url-fi: {{oppija_base_url_fi}}
  old-oppija-base-url-sv: {{oppija_base_url_sv}}
  old-oppija-base-url-en: {{oppija_base_url_en}}
  host-eperusteet-service: https://{{host_eperusteet}}
kartta:
  host: {{konfo_ui_kartta_host}}
  pid: {{konfo_ui_kartta_pid}}