[
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/fi/toteutus/1.2.246.562.17.00000000000000000437"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/fi/toteutus/1.2.246.562.17.00000000000000000466"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/locales/fi/translation.json"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/js/0.chunk.js"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/js/bundle.js"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/js/main.chunk.js"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/Apuraha.1cb12ed6.svg"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/OPH%20logo.2bceda7d.png"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/OPO_Logo_Header_suomi.5580b86c.svg"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/OpetushallitusIcon.0a4b4834.svg"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/herokuva_default.41dfb8d5.png"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/open-sans-latin-400.f57a62e9.woff2"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/open-sans-latin-600.95264708.woff2"
  },
  {
    "method": "GET",
    "url": "http://localhost:3005/konfo/static/media/open-sans-latin-700.92425c62.woff2"
  },
  {
    "method": "GET",
    "url": "https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2"
  },
  {
    "method": "GET",
    "url": "https://konfo-files.hahtuvaopintopolku.fi/toteutus-teemakuva/1.2.246.562.17.00000000000000000437/d29f948a-af66-499e-a337-6191ebe5d583.jpg"
  }
]