@import '../settings';

.action-button{
    a{
        &.disabled{
            .link-button{
                cursor: not-allowed;
                pointer-events: none;
                opacity: .5;
            }
        }
        .link-button{
            border: 2px solid $water-blue;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            color: white;
            line-height: 0;
            background: $water-blue;
            height: 0;
            padding: 18px 25px;
            text-align: center;
            &.big{
                padding: 25px;
            }
            @include transitions();
            &:hover{
                cursor: pointer;
                @include transitions();
                @include rgba-color($water-blue, .9);
            }
        } 
        &.transparent-button{
            .link-button{
                border: 2px solid $water-blue;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                color: $water-blue;
                background: transparent;
            }
        }
        span{
            line-height: 0;
        }
    }
    
    .compare-button{
        border: 2px solid $water-blue;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: $water-blue;
        line-height: 0;
        height: 0;
        padding: 18px 35px;
        @include transitions();
        &.on{
            background: $water-blue;
            color: white;
        }
        &:hover{
            cursor: pointer;
        }
        span{
            line-height: 0;
        }
    }

    .toggle-link-button{
        display: inline-block;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        line-height: 0;
        height: 0;
        padding: 18px 35px;
        @include transitions();
        background: #4a90e2;
        color: white;
        &:hover{
            cursor: pointer;
        }
        span{
            line-height: 0;
        }
    }

    .switch-button{
        border: 2px solid $water-blue;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        max-width: 75%;
        .switched{
            position: relative;
            padding: 5px 0;
            &:hover{
                cursor: pointer;
            }
            &::before {
                content: "";
                width: 50%;
                height: 100%;
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                visibility: visible;
                opacity: 1;
                @include transitions();
                background: #1976D2;
            }
            .switch{
                font-size: 13px;
                -ms-flex: 1 0 50%;
                flex: 1 0 50%;
                max-width: 50%;
                text-align: center;
                z-index: 2;
                color: $water-blue;
            }
            &.on{
                .switch{
                    &:first-child{
                        color: white;
                    }
                }
                &::before{
                    -webkit-transform: translate(0);
                    -moz-transform: translate(0);
                    transform: translate(0);
                }   
            }
            &.off{
                .switch{
                    &:last-child{
                        color: white;
                    }
                }
                &::before{
                    -webkit-transform: translate(101%);
                    -moz-transform: translate(101%);
                    transform: translate(101%);
                }   
            }
        }  
    }
}
