.result-count{
    margin-top: 20px;
    .col-12{
        &.Etsinta{
            .highlight{
                margin-left: 10px;
                &::before,
                &::after{
                    padding: 0 5px;
                    content: '"';
                }
            }
            &:nth-child(2){
                h1{
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 900px){
    #search-results{
        padding-left: 0;
        padding-right: 0; 
        .box-container{
            padding: 0 15px 15px;
        }
    }
}
