@import '../settings';

$channels: (
  ch-1: $brick,
  ch-2: $mid-green,
  ch-3: $amethyst,
  ch-4: $water-blue,
  ch-5: $yellow-ochre
);
.filter-options .action-buttons a:first-child {
  margin: 30px auto!important;
  padding: 5px!important;
}
.checkbox {
  position: relative;
  margin: $checkbox-margin;
  text-align: left;

  &.checkbox-inline {
    display: inline-block;
  }
  span{
    &.cr {
      display: inline-block;
      border-radius: 2px;
      width: 1.3em;
      height: 1.3em;
      margin-right: .5em;
      @each $channel, $color in $channels{
        &.#{$channel} {
          background: $color;
          position: absolute;
          right: 27px;
          border: 1px solid $color;
        }
      }
  }
  }
  label {
    cursor: pointer;
    display: inline;
    line-height: $checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: $checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
    
    &:before {
      width: $checkbox-size;
      height: $checkbox-size;
      background: transparent;
      border: $checkbox-border-width solid $checkbox-border-color;
      border-radius: $checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0), inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: $checkbox-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        @include rgba-color($dark-flat-blue, .85); 
        border:none;
      }
      + label:after {
        $checkbox-checkmark-size: $checkbox-size - 2 * $checkbox-padding;
        transform: translate($checkbox-padding, ($checkbox-size / 2) - ($checkbox-checkmark-size / 2.6)) rotate(-45deg);
        width: $checkbox-checkmark-size;
        height: $checkbox-checkmark-size / 2;
        
        border: $checkbox-checkmark-width solid $checkbox-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
    
    &:disabled {
      + label:before{
        border-color: $checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $checkbox-checked-color-disabled;
        }
      }
    }
  }
 
}
