
.filter-button{
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #5B5B5B), color-stop(0.47, #464646));
    background-image: -o-linear-gradient(bottom, #5B5B5B 0%, #464646 47%);
    background-image: -webkit-linear-gradient(bottom, #5B5B5B 0%, #464646 47%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5B5B5B), color-stop(47%, #464646));
    background-image: -webkit-linear-gradient(top, #5B5B5B 0%, #464646 47%);
    background-image: -o-linear-gradient(top, #5B5B5B 0%, #464646 47%);
    background-image: linear-gradient(to bottom, #5B5B5B 0%, #464646 47%);
    float: left;
    border-radius: 5px;
    width: 165px;
    position: absolute;
    min-height: 30px;
    height: auto;
    padding: 2px 0;
    z-index: 999;
    top: -1em;
    color: #ffffff;
    text-align: center;
}
.filter-container {
    position: absolute;
    width: 355px;
    transition: all ease-in .5s;
    &.index {
        max-width: 450px;
        width: 100%;
    }
    &.open {
        left: 0;
        transition: all ease-in .5s;
    }
    input[type=text] {
        width: 90%;
        &.oph-input {
            font-family: inherit;
            font-size: inherit;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: .5rem;
            border: 1px solid #aeaeae;
            border-radius: 2px;
            background-color: #fff;
            -webkit-box-shadow: inset 0 1px 4px #ccc;
            box-shadow: inset 0 1px 4px #ccc;
            -webkit-transition-property: border,background;
            -o-transition-property: border,background;
            transition-property: border,background;
            -webkit-transition-duration: .15s;
            -o-transition-duration: .15s;
            transition-duration: .15s;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
        }
    }
    .filter-options {
        z-index: 998;
        left: 0;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background: #ffffff;
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        &.index {
            left:10px;
            top:-18px;
            width: 450px;
            .oph-input {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }
        .action-buttons{
            a{
                display: block;
                &:first-child {
                    margin: 30px auto !important;
                    padding: 5px !important;
                }
                &:last-child{
                    text-align: center;
                }
            }
        }
    }
    .filters-main {
        padding: 1em;
        h5{
            color: #9c9c9c;
        }
    }
    
}
