@import '../settings';

#call-to-action-secondary {
    background-color: $side-menu-input-background;
    padding-top: 50px;
    .header-search {
        padding: 36px 80px;
    }
}

.jumbotron {
    margin-top: 40px;
    background: transparent;
    position: relative;
}

.container.search-container {
    max-width: 100%;
    padding: 0;
}

#call-to-action {
    background-image:url('../../images/o-EDUCATION-facebook.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display: block;
    padding: 40px 15px;
}

.header-search{
    color: $white;
    max-width: 740px;

    &.main {
        background-color: $dark-flat-green;
        padding: 48px 68px;
    }
    h1 {
        color: $white;
    }
    input {
        width: 100%;
        &.oph-input {
            font-family: inherit;
            font-size: inherit;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #aeaeae;
            border-radius: 2px;
            background-color: #fff;
            -webkit-box-shadow: inset 0 1px 4px #ccc;
            box-shadow: inset 0 1px 4px #ccc;
            -webkit-transition-property: border,background;
            -o-transition-property: border,background;
            transition-property: border,background;
            -webkit-transition-duration: .15s;
            -o-transition-duration: .15s;
            transition-duration: .15s;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
        }
    }
    .search-button {
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 5px 40px;
        width: 117.17px;
        border-radius: 2px;
        background-color: $dark-flat-green;
    }

}
@media (max-width: 768px){
    .header-search{ 
        input {
            &.oph-input{
                -webkit-box-shadow: 0 0px 7px $battleship-grey;
                box-shadow: 0 0px 7px $battleship-grey;
                max-width: 554px;
                width: 75%;
                height: 43px;
                font-size: .9em;
            }
        }
        .search-button {
            border: 4px solid white;
            padding: 10px 10px;
        }
    }
}