@import '../settings';

.app-navigation-bar {
    position: -webkit-sticky;
    position: sticky;
    min-height: 20px;
    height: auto;
    padding: 25px 10px;
    bottom: 0;
    z-index: 10000;
    background: $dark-grey;
    .container{
        padding: 0;
    }
    a{
        position: relative;
        padding: 20px 0;
        line-height: 1;
        &::before{
            font-family: $material-icons-font-family; 
            color: white;
            display: block;
            height: 13px;
            font-size: 35px;
            position: absolute;
            top: -3px;
            width: 10px;
            left: 24%; 
        }
        span{
            position: relative;
            top: 18px;
            padding: 5px 0;
        }
    }
    .previous{
        text-align: left;
        a{
            &::before {
                content: "\E90B";           
            }
        }
    }
    .search{
        text-align: center;
        a{
            &::before{
                content:"\e90c";
            }
        }
    }
    .next{
        text-align: right;
        a{
            &::before{
                content:"\e90a";
            }
        }
    }
    a {
    color: #ffffff;
    text-align: center;
    margin: auto;
    width: 7em;
    text-decoration: none;
    cursor: pointer;
        &:hover span {
            text-decoration: underline;
        }
    }
    i {
        position: relative;
        left: 5%;
    }
}

.search{
    //width: 830px;
    background-color: #EDF1F5;
    //box-shadow: 0 0 4px 0 rgba(0,0,0,0.36);
    padding: 24px 105px;
    border-radius: 2px;
    max-width: 1600px;
    margin: auto;
}
.header-search--secondary {
    max-width: none;
    .search-wrapper {
        border: 1px solid $light-grey;
    }
}

.search-wrapper{
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    padding: 16px 20px;
    border-radius: 2px;


}

.search-wrapper-item{
    display: table-cell;
}

.search-wrapper-input{
    -webkit-appearance: none;
    color: $black;
    border: none;
    font-size: 16px;
}

.search-wrapper--rajaa {
    display: flex;
    flex-direction: row;
    align-items: center;
}