@import '../settings';

@media (min-width: 1400px){
    #main-content{
        &.move-right{
            #hakutulos-content{
                #search-results{
                    .row{
                        @include flex-direction(row);
                        .box-container{
                            &.col-lg-6{
                                -ms-flex: 0 0 calc(60% - 355px);
                                flex: 0 0 calc(60% - 355px);
                                max-width: calc(60% - 355px);
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width: 1400px){
    #main-content{
        &.move-right{
            #hakutulos-content{
                #search-results{
                    .row{
                        @include flex-direction(column);
                        .box-container{
                            &.col-lg-6{
                                -ms-flex: 0 0 calc(100% - 355px);
                                flex: 0 0 calc(100% - 355px);
                                max-width: calc(100% - 355px);
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media (min-width: 769px) {
    #main-content{
        min-height: 50vh;
        #hakutulos-content,
        #koulutus-container,
        #vertailu-container,
        #oppilaitos-container,
        #toteutus-container{
            position: relative;
            left: 0;
            @include transitions();
        }
        &.move-right{
            #hakutulos-content,
            #koulutus-container,
            #vertailu-container,
            #oppilaitos-container,
            #toteutus-container{
                left: 390px;
                @include transitions();
                overflow-y: scroll; 
                margin-bottom: 30px;      
            }
        }
    }
}

@media (max-width: 768px) {
    #main-content{
        min-height: 30vh;
        #hakutulos-content,
        #koulutus-container{
            position: relative;
            left: 0;
            @include transitions();
        }
       
        &.move-right{
            #hakutulos-content{
                @include transitions();
                overflow-y: scroll; 
                margin-bottom: 30px; 
                #search-results{
                    .row{
                        @include flex-direction(column);
                        .box-container{
                            &.col-lg-6{
                                -ms-flex: 0 0 100%;
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
