@import '../settings';
.tabs-result {
    ul{
        padding: 0;
        li{
            display: inline-block;
            max-width: 170px;
            width: 100%;
            text-align: center;
            border: 1px solid $battleship-grey;
            color: $battleship-grey;
            &.valittu{
                background-color: $battleship-grey;
                color: white;
            }
            &:hover{
                cursor: pointer;
            }
            span{
                &:first-child{
                    margin-right: 5px;
                }
            }
        }
        li:first-child{
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;  
        }
        li:last-child{
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;  
        }
    }
}
@media (max-width: 900px){
    .tabs-result {
        ul{
            li{
                max-width: 50%;
            }
        }
    }
}