@import '../settings';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

.navigation-bar {
    background-color: $dark-flat-green;
    position: absolute;
    height: 69px;
    width: 100%;
    z-index: 1;

}
.navbar-brand {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    z-index: 1;
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: none!important;
        color: #ffffff;
    }
    a{
        line-height: normal!important;
    }
    span {
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
    }
    .navbar-studyinfo {
        font-weight: 100;
        font-size: 12px;
    }
}

.navigation-header-wrapper {
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    z-index: 99;
}
