@import '../settings';

.info-page {
    .left-column {
            h1 {
                i{
                    width: 65px;
                    height: 65px;
                    display: inline-block;
                    border-radius: 50%;
                    &.muu-hattu {
                        background-color: $light-orange;  
                    }
                    &.korkeakoulu-hattu {
                        background-color: $amethyst;
                    }
                    &.avoin-hattu {
                        background-color: $dark-flat-blue;
                    }
                    &.ammatillinen-hattu {
                        background-color: $dark-flat-green;
                    }
                    &.lukio-hattu {
                        background-color: $dark-red;
                    }    
                    &::after{
                        font-family: $material-icons-font-family;
                        content: "\e91e";
                        color: white;
                        position: relative;
                        font-style: initial;
                        left: 12px;
                        font-size: 40px;
                        top: 15px;
                    }
                }
            }
    }
}