#koulutus-container{
    .header-image{
        margin-top: 15px;
        img{
            width: 100%;
        }
    }  
}
@media (max-width:992px) {
    #koulutus-container{
        .header-image{
            padding-left: 0;
            padding-right: 0;
            margin: -1px;
        }
    }
}