
$channels: (
  lk: $brick,
  amm: $mid-green,
  kk: $amethyst,
  ako: $water-blue,
  muu: $yellow-ochre
);

#side-bar{
    @each $channel, $color in $channels{
        .type-#{$channel} {
          background: $color;
          height: 100px;
          h2{
              color: white;
              padding-top: 10px;
              span{
                  &:first-child{
                      -ms-flex: 1 0 40px;
                      flex: 1 0 40px;
                      max-width: 40px;
                      @include fluid-sizing('font-size', $h1-font-size-map);
                      position: relative;
                      left: 10px;
                      top: 0px;
                      margin-right: 10px;
                  }
                  &:last-child{
                    -ms-flex: 1 0 95%;
                    flex: 1 0 95%;
                    max-width: 95%;
                    word-break: break-word;
                    position: relative;
                    right: 0;
                  }
              }
            }
        }
    }
}