@import '../settings';

.like-button{
    height: 0;
    &:hover{
        cursor: pointer;
    }
    i{
        font-size: 25px;
        display: block;
        @include transitions();
        &.icon-ic_favorite_border{
            color: $soft-grey;
        }
        &.icon-ic_favorite{
            color: $brick;
        }
    }
    span{
        position: relative;
        top: -5px;
        font-size: 10px;
    }
}