
.menu {
    position: absolute;
    z-index: 999;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    &:hover,
    &:focus,
    &:active{
        outline: none;
    }
    &:hover{
        cursor: pointer;
    }

    .menu-text {
        font-size: 12px;
        color: #ffffff;
        position: relative;
        font-weight: 300;
        width:100%;
        justify-items: center;
        margin: 0;
        line-height: 17px;
    }
    .menu-icon {
        width:100%;
        font-size: 22px;
        color: #fff;
        justify-items: center;
    }
}
