@import '../settings';

$notification-type:(
    ok: (color: $mid-green, icon: "\ec4e"),
    info: (color: $water-blue, icon: "\e908"),
    error: (color: $brick, icon: "\f11c"),
    warning: (color: $yellow-ochre, icon: "\f11c")
);

.notification{
    @each $type, $properties in $notification-type{
        $color: map-get($properties, color);
        $icon: map-get($properties, icon);
        &.#{$type}{    
            border: 1px solid $color;
            @include border-radius(5px);
            @include rgba-color($color, .25);
            margin: 10px 0;
            @include flexbox();
            padding: 0;
            p{
                -ms-flex: 1 0 1;
                flex: 1 0 1;
            }
            span{
                background: $color;
                margin-right: 15px;
                -ms-flex: 1 0 70px;
                flex: 1 0 70px;
                max-width: 70px;
                text-align: center;
                &::before{
                    font-size: 25px;
                    @include smoothFonts();
                    font-family: $material-icons-font-family;
                    color: white;
                    content: $icon;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%);
                } 
            }            
        }
    } 
}