.oppilaitos-info-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

.rectangle {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #378703;
    position: relative;
    left: 50%;
    top: 50%;
    margin-bottom: 30px;

 }
