@import '../settings';

#oppilaitos-arvostelut{
    background: white;
    padding: 25px 0;
    
    [class^="icon-"]{
        font-size: 30px;;
    }
    .icon-ic_star,
    .icon-ic_star_half{
        color: $gold;
    }
    .icon-ic_star_border{
        color: $battleship-grey;
    }
    p{
        text-align: center;
        font-size: 14px !important;
        line-height: 12px;
    }
}