@import '../settings';

#oppilaitos-arvostelut{
    background: white;
    padding: 25px 0;
    
    [class^="icon-"]{
        font-size: 30px;;
    }
    .icon-ic_star,
    .icon-ic_star_half{
        color: $gold;
    }
    .icon-ic_star_border{
        color: $battleship-grey;
    }
    p{
        text-align: center;
        font-size: 14px !important;
        line-height: 12px;
    }
}
@media (max-width: 992px){
    p{
        span{
            @include border-radius(50%);
            background: $dark-opaque-blue;
            color: white;
            padding: 10px;
            margin-right: 10px;
        } 
    }
}
