@import '../settings';

.box-container {
    .col-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 1 0 91.66667%;
        max-width: 94%;
    }
    .item-box {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        margin: 15px 15px 15px 0;
        .text{
            padding: 15px;
            a{
                font-weight: bolder;
            }
        }
    }
    .education-name {
        margin: 0 -15px;
        padding: 20px 25px;
        background: $main-bg;
        border-top: 1px solid $pinkish-grey;
        &:before{
            font-family: $material-icons-font-family;
            content: "\ea77";
            color: $water-blue;
            font-size: 30px;
            position: relative;
            top: 6px;
        } 
    }
}