@import '../settings';

#like-box{
    border: 1px solid $soft-grey;
    padding: 15px ;
    margin-top: 10px;
    background: white; 
}

@media (max-width: 992px){
    #like-box{
        border: none;
        background: transparent;
        padding: 0 10px;
        .row{
             margin-bottom: 15px;
        }
        #header{
            margin-top: 20px;
            h1{
                span{
                    &:nth-child(1) {
                        display: block;
                        position: relative;
                        top: -10px;
                        margin-right: 20px;
                        -ms-flex: 1 0 40px;
                        flex: 1 0 40px;
                        max-width: 40px;
                        &::before{
                            background: $water-blue;
                            padding: 10px;
                            font-family: "material-icons-font";
                            content: "\ec20";
                            color: white;
                            position: relative;
                            font-style: initial;
                            font-size: 30px;
                            top: 10px;
                            @include border-radius(50%);
                        }
                    }
                    &.title{
                        @include fluid-sizing('font-size', $h1-font-size-map);
                        -ms-flex: 1 0 70%;
                        flex: 1 0 70%;
                        word-break: break-word;
                        span{
                            position: relative;
                            top: 15px;
                            @include fluid-sizing('font-size', $h1-font-size-map)
                        }
                    }
                }
            }
            .like-button{
                -ms-flex: 1 0 35px;
                flex: 1 0 35px;
                max-width: 35px;
            }
        }
        .action-button{
            max-width: 200px;
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}