@import '../settings';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

.palaute-popup-container {

    position: fixed;
    bottom: 15px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    .arrow_box {
        @include fadeIn(
                $duration: .3s,
                $delay: 0s,
                $function: ease
        );

        cursor: pointer;
        .material-icons {
            display: inline;
            float: right;
            font-size: 10px;
            color: $grey;
        }
        line-height: 17px;
        width: 140px;
        padding: 12px 12px 18px 12px;
        font-size: 12px;
        flex: 1;
        position: relative;
        background: #ffffff;
        color: $grey;
        border: 1px solid #e0e1dd;
        margin-bottom: 8px;
    }
    .arrow_box:after, .arrow_box:before {
        top: 100%;
        right: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 5px;
        margin-left: -5px;
    }
    .arrow_box:before {
        border-color: rgba(224, 225, 221, 0);
        border-top-color: #e0e1dd;
        border-width: 6px;
        margin-left: -5px;
    }
}

.palaute-popup {
    flex: 2;

    div {
        height: 48px;
        width: 48px;
        background-color: green;
        border-radius: 50%;
        .material-icons {
            font-size: 32px;
        }
        cursor: pointer;
        padding: 5px;
        color: white;
        display: block;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }
}
.palaute-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize(#FFFFFF, 0.3);
    z-index: 1004;

}
.palaute-form-close {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    align-items: flex-end;
    align-content: flex-end;
    a {
        cursor: pointer;
        padding: 0 10px;
        color: $grey;
    }
    margin-bottom: 20px;
}
.palaute-form {
    @include fadeIn(
            $duration: .3s,
            $delay: 0s,
            $function: ease
    );

    padding-top: 12px;
    padding-bottom: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}
.palaute-form-header {
    font-weight: 600;
    margin: 0;
    font-size: 24px;
    color: $black;
    margin-bottom: 15px;
}
.palaute-form-rating {
    margin-bottom: 15px;
    flex-direction: row;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}
.palaute-form-star {
    cursor: pointer;
    font-size: 42px;
    padding: 10px 5px;
    color: $soft-grey;
}
.palaute-form-star-selected {
    color: $light-orange;
}

.palaute-form-comment {
    width: 500px;
    height: 90px;
}
.palaute-form-comment textarea {
    height: 90px;
    width: 100%;
    padding: 10px;
    font-size: 16px;

    @include fadeIn(
            $duration: .3s,
            $delay: 0s,
            $function: ease
    );
}
.palaute-form-paragraph {
    width: 400px;
    line-height: 27px;
    font-size: 16px;
    color: $grey;
    text-align: center;
}
