@import '../settings';

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 35, 35, 0.8);
    z-index: 10003;
&.displayed-true{
    @include fadeInLeft(
        $duration: .3s,
        $delay: .1s,
        $function: ease
    );
}
&.displayed-false{
    @include fadeOutLeft(
        $duration: .3s,
        $delay: .1s,
        $function: ease
    );
}
}
.services-menu{
    position: fixed;
    max-width: 526px;
    width: 100%;
    max-height: 477px;
    height: 100%;
    top: 60px;
    right: 5%;
    background-color: white;
    z-index: 10003;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &::before{
        content: "";
        width: 20px;
        height: 20px;
        background: white;
        position: absolute;
        top: -6px;
        z-index: 0;
        right: 20px;
        transform: rotate(134deg); 
    }
    .menu-close{
        float: right;
        padding: 15px 27px 0 0;
        color: black;
        opacity: 1;
        &:hover{
            @include transitions();
            opacity: .7;
            cursor: pointer;
        }
        i{
            font-size: 20px;
        }
    }
    &.open{
        @include fadeInDown(
            $duration: .2s,
            $delay: 0s,
            $function: ease-in
        );
    }
    &.closing{
        @include fadeOutUp(
            $duration: .2s,
            $delay: 0s,
            $function: ease-in
        );
    }
    ul{
        padding: 30px;
        margin: 0;
        li{
            height: 90px;
            a{
                text-decoration: none;
                color: black;
            }
            p{
                font-weight: bold;
                padding: 0 40px;
                line-height: 10px;
                margin-left: 30px;
                &.small{
                    font-weight: normal;
                    font-size: 12px;
                    color: $darker-grey;
                    line-height: 14px;
                }
            }
            &::before{
                font-family: $material-icons-font-family;
                position: absolute;
                color: white;
                padding: 10px;
                font-size: 30px;
                margin-top: -15px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            &.omat{
                &::before{
                    background: $water-blue;
                    content: "\ea96";
                }
            }
            &.hakemus{
                &::before{
                    background: $yellow-ochre;
                    content: "\eab7";
                }
            }
            &.ehoks{
                &::before{
                    background: $brick;
                    content: "\ec5a";
                }
            }
            &.eperusteet{
                &::before{
                    background: $mid-green;
                    content: "\ecd9";
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .services-menu{
        right: 0;
    }
}
@media (max-width: 768px) {
    .services-menu{
        max-width: 100%;
        right: 0;
    }
}
@media (max-width: 320px){
    .services-menu{
       ul{
           padding: 25px;
            li{ 
                &::before{
                    font-size: 25px;
                }
                p{
                    padding: 0px 35px;
                    &.small{
                        position: relative;
                        top: -10px;
                        font-size: 11px !important;
                    }
                }
            }   
       }
    }
} 