@import '../settings';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

#sidebar-wrapper {
    width: 330px;
    display: block;
    height: 100%;
    min-height: 100vh;
    color: $white;
    top: 69px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-box-shadow: 9px 4px 42px -16px rgba(0,0,0,0.1);
    -moz-box-shadow: 9px 4px 42px -16px rgba(0,0,0,0.1);
    box-shadow: 9px 4px 42px -16px rgba(0,0,0,0.1);
    @include slideInLeft(
        $duration: .1s,
        $delay: 0s,
        $function: ease
    );
    &::-webkit-scrollbar {
        display: none;
    }
    &.is-closing-true{
        @include slideOutLeft(
            $duration: .1s,
            $delay: 0s,
            $function: ease
        );
    }
}
.sidebar-input-container {
    width: 100%;
    background-color: $side-menu-input-background;
    padding: 18px 20px;
    margin-bottom: 20px;
    .sidebar-input {
        position: relative;
        margin: 0;
        padding: 0;
        input[type="text"]{
            border: 1px solid $side-menu-input-border;
            height: 33px;
            width: 290px;
            font-size: 14px;
            color: $black;
            padding-left: 8px;
            &::placeholder {
                color: $side-menu-input-color;
            }
        }

        input[type="submit"] {
            margin-left: -33px;
            height: 33px;
            width: 33px;
            background: $dark-flat-green;
            border: 0;
            -webkit-appearance: none;
            font-family: $material-icons-font-family;
            font-size: 20px;
            position: absolute;
            color: $white;
            cursor: pointer;
        }
        .gdsfg::before {
            content: "search";
            font-family: $material-icons-font-family;
            font-size: 16px;
            position: absolute;
            color: $side-menu-input-color;
            right: 8px;
            top: 7px;
        }
    }
}
.sidebar-nav {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    z-index: 100;

    .sidebar-nav-breadcrump {
        color: $grey;

        .sidebar-nav-breadcrump--text {
            font-weight: 400;
            max-width: 250px;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        }
        i {
            vertical-align: super;
            font-size: 22px;
            padding-right: 10px;
        }
        padding-bottom: 20px;

    }
    .sidebar-nav-breadcrump--selected {
        color:$dark-flat-green;
        cursor: pointer;
    }

    .sidebar-nav-valikot {
        padding: 0 0 0 20px;
    }
    ul {
        cursor: pointer;
        background-color: #fff;
        padding: 0;
    }
    h3 {
        color:$dark-flat-green;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        font-weight: 600;

    }
    //$light-grey
    .sidebar-valikko {
        margin-bottom: 40px;
    }
    .sidebar-valikko--item {
        li {
            cursor: pointer;
            position: relative;
            line-height: 20px;
            display: block;
            color: $grey;

            a {
                display: inline-block;
                color: $grey;
                text-decoration: none;
                width: 100%;
                font-size: 14px;
                padding: 15px 0;
                .material-icons {
                    font-size: 14px;
                    color:$dark-flat-green;
                    position: absolute;
                    right: 15px;
                    top: 22px;
                }
            }
            border-top: 1px solid $light-grey;

        }
        li:last-child {
            border-bottom: 1px solid $light-grey;
        }
    }
}
