@import '../settings';

#sidebar-wrapper {
    z-index: 10002;
    left: 220px;
    width: 320px;
    height: 100vh;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #282828;
    position: absolute;
    -webkit-box-shadow: 9px 4px 42px -16px rgba(0,0,0,0.5);
    -moz-box-shadow: 9px 4px 42px -16px rgba(0,0,0,0.5);
    box-shadow: 9px 4px 42px -16px rgba(0,0,0,0.5);
    @include slideInLeft(
        $duration: .3s,
        $delay: 0s,
        $function: ease
    );
    &::-webkit-scrollbar {
        display: none;
    }
    &.is-closing-true{
        @include slideOutLeft(
            $duration: .3s,
            $delay: 0s,
            $function: ease
        );
    }
    .sidebar-input {
        display: block;
        width: 80%;
        padding: 2px;
        margin: 2px auto 15px auto;
        color: #FFFFFF;
        -webkit-box-shadow: inset 0 -1px 0 0 #ffffff;
        -moz-box-shadow: inset 0 -1px 0 0 #ffffff;
        box-shadow: inset 0 -1px 0 0 #ffffff;
        &::before {
            content: "\ECAD";
            font-family: "material-icons-font";
            font-size: 16px;
        }
        input {
            background-color: #282828;
            border: 0;
            color: white;
            width:90%;
            font-size: 14px;
            padding-left: 5px;
            &::placeholder {
                font-style: italic;
                font-weight: lighter;
            }
        }
    }
}
.overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(35, 35, 35, 0.8);
        z-index: 10001;
    &.displayed-true{
        @include fadeInLeft(
            $duration: .3s,
            $delay: 0s,
            $function: ease
        );
    }
    &.displayed-false{
        @include fadeOutLeft(
            $duration: .3s,
            $delay: 0s,
            $function: ease
        );
    }
}
div.sidebar-brand {
    width: 100%;
    font-size: 16px;
    padding: 15px 30px;
    color: #ffffff;
    -webkit-box-shadow: inset 0 -1px 0 0 #101011;
    -moz-box-shadow: inset 0 -1px 0 0 #101011;
    box-shadow: inset 0 -1px 0 0 #101011;
}
.sidebar-close {
    position: relative;
    float: right;
    top: -8px;
    color: #636769;
    font-size: x-large;
    z-index: 1001;
    i{
        color: white;
        opacity: 1;
        @include transitions();
        &:hover{
            cursor: pointer;
            opacity: .5;
            @include transitions();
        }
    }
}
.sidebar-nav {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    .sidebar-brand {
        height: 50px;
        font-size: 20px;
        line-height: 44px;
    }
    .dropdown{
        &.current-page{
            max-height: 100%;
            opacity: 1;
            @include transitions(.35s);
            &::before {
            content: '\25CF';
            color: $yellow-ochre;
            position: absolute;
            font-size: 23px;
            left: 10px;
            top: 7px;
            }
        }
    }
    ul {
        background-color: #313334;
        padding: 0;
        &.dropdown-menu{
            position: relative;
            top: 0;
            width: 100%;
            margin: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: 0;
            background-color: #4a4a4a;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-weight: 100;
            &.collapsed{
               display: none;
            }
            &.expanded{
                @include fadeInDown(
                    $duration: .2s,
                    $count: 1,
                    $delay: 0,
                    $function: ease, 
                    $fill: both 
                );
            }
            &.collapsing{ 
                @include fadeOutUp(
                    $duration: .2s,
                    $count: 1,
                    $delay: 0,
                    $function: ease, 
                    $fill: both,
                    $visibility: hidden              
                );
            }
        }
        &.nav {
            box-shadow: inset 0 -1px 0 0 #101011;
            li{
                a{
                    &.dropdown-toggle{
                        -webkit-box-shadow: inset 0 -1px 0 0 #101011;
                        -moz-box-shadow: inset 0 -1px 0 0 #101011;
                        box-shadow: inset 0 -1px 0 0 #101011;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .open {
                    box-shadow: inset 0 -1px 0 0 #101011;
                    a{
                        &.dropdown-toggle {
                            text-transform: uppercase;
                            background-color: $darker-grey;
                            -webkit-box-shadow: inset 0 -1px 0 0 #101011;
                            -moz-box-shadow: inset 0 -1px 0 0 #101011;
                            box-shadow: inset 0 -1px 0 0 #101011;
                        }
                    }
                }
            }
        }
    }
    
    li {
        position: relative;
        line-height: 20px;
        display: block;
        a {
            display: inline-block;
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
            width: 100%;
        }
        &.dropdown{
            border-bottom: 1px solid $darker-grey; 
            
        }
    }
}
ul.languages {
    position: relative;
    line-height: 20px;
    width: 100%;
    font-size: .8em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: auto;
    background-color: #282828;
    li {
        width: auto;
        &.selected {
            a {
            color: #ffffff;
            }
         }
        a {
            padding: 10px 15px 0 15px;
            font-size: 14px;
        }

    }
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: $greyish-brown;
    box-shadow: none;
    font-weight: 100;
}

.sidebar-nav ul li.frontpage-link a, .sidebar-nav ul li.palaute a {
    color: #b9b9b9;
}

.sidebar-nav .current-page::before {
    content: '\25CF';
    color: $yellow-ochre;
    position: absolute;
    font-size: 23px;
    left: 10px;
    top: 7px;
}
.sidebar-nav .dropdown-menu a {
    color: #FFFFFF;
}
.sidebar-nav .dropdown-menu .current-page a {
    color: #f5a623;
}
.sidebar-close {
    position: relative;
    float: right;
    top: -8px;
    color: #636769;
    font-size: x-large;
    z-index: 1001;
}