@import '../settings';

.dropdown-component{
    .slide-dropdown{
        border-top: 1px solid $soft-grey;
        border-left: 1px solid $soft-grey;
        border-right: 1px solid $soft-grey;
        padding: 0 15px 10px;
        margin-top: 10px;
        background: white;
        &.collapsed{
            border-bottom: 1px solid $soft-grey;
        }           
        .slide-dropdown-header {
            width: 100%;
            h2 {
                font-weight: bolder;
                &:hover{
                    cursor: pointer;
                }
                span {
                    &.collapse-button{
                        font-size: 35px;
                        position: relative;
                        top: 5px;
                        flex: 1 0 40px;
                        max-width: 40px;
                    }
                    &.header-title{
                        flex: 1 0 95%;
                        max-width: 95%;
                        word-break: break-word;
                        position: relative;
                        right: 0;
                        top: 10px;
                    }
                }
            }
            
        }
    }
    .dropdown-content{
        border-bottom: 1px solid $soft-grey;
        border-left: 1px solid $soft-grey;
        border-right: 1px solid $soft-grey;
        background: white;
        &.collapsed {
            display: none;
        }       
        &.expanded{
            @include fadeInDown(
                $duration: .25s,
                $count: 1,
                $delay: 0,
                $function: ease, 
                $fill: both 
            );
            max-height: 100%;
            @include transitions(.25s, ease, max-height);
            .col-11 {
                &.text-block,
                .item-box{
                    position: relative;
                    right: -40px;
                    padding: 1px 0 0 0;
                }
            }
            &.collapsing{ 
                @include fadeOutUp(
                    $duration: .2s,
                    $count: 1,
                    $delay: 0,
                    $function: ease, 
                    $fill: both,
                    $visibility: hidden              
                );  
                max-height: 0;
                @include transitions(.2s, ease, max-height);          
            }
        }
    }
}
