@import '../settings';

.info-page{
    &.toteutus{
        #toteutus-header{
            margin-top: 0;
            #toteutus-header-nimi{
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 992px) {
    .info-page{
        &.toteutus{
            .left-column{
                border-right: none;
                padding-left: 0;
                padding-right: 0; 
            }
            .right-column{
                padding-left: 0;
                padding-right: 0; 
            }
        }
    }
}