@import '../settings';

#toteutus-additional-information-box{
    
    background-color: #effaef;
    //box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    max-width: none;
}

.toteutus-additional-info-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

.rectangle {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #378703;
    position: relative;
    left: 50%;
    top: 50%;
    margin-bottom: 30px;

 }

 .toteutus-additional-info-box {
     padding: 70px 200px;
     justify-content: space-evenly;
 }

 .toteutus-additional-info-dropdown {
    background-color: #effaef;
 }
