@import '../settings';

#toteutus-info-box{
    margin: 15px 0;
    -webkit-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.61);
    box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.61);
    .box{
        padding-bottom: 30px;
        h3{
            font-weight: bold;
        }
        &.tiedot{
            background: $dark-opaque-blue;
            color: white;
            h3{
                color: white;
                padding-left: 15px;
                border-bottom: 1px solid white; 
            }
        }
        &.hakemus{
            background: white;
            h3{
                padding-left: 15px;
                border-bottom: 1px solid black; 
            }
        }
        .hakukohde-container{
            padding-top: 20px;
        }
        .hakukohde-hakuaika{
            margin-top: 0px;
        }
    }
   
}

#toteutus-information-box{
    
    background-color: #effaef;
    //box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    max-width: none;
}

.toteutus-info-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

.rectangle {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #378703;
    position: relative;
    left: 50%;
    top: 50%;
    margin-bottom: 30px;

 }

 .toteutus-info-box {
    padding: 70px 100px 70px 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
 }

 .toteutus-info-box-item {
    width: 300px;
    margin-bottom: 40px;
    i {
        padding-right: 10px;;
     }
    li:nth-child(2){
        padding-left: 33px;
    }
 }