@import '../settings';

#toteutus-info-box{
    margin: 15px 0;
    -webkit-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.61);
    -moz-box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.61);
    box-shadow: -2px 0px 23px -5px rgba(0,0,0,0.61);
    .box{
        padding-bottom: 30px;
        h3{
            font-weight: bold;
        }
        &.tiedot{
            background: $dark-opaque-blue;
            color: white;
            h3{
                color: white;
                padding-left: 15px;
                border-bottom: 1px solid white; 
            }
        }
        &.hakemus{
            background: white;
            h3{
                padding-left: 15px;
                border-bottom: 1px solid black; 
            }
        }
        .hakukohde-container{
            padding-top: 20px;
        }
        .hakukohde-hakuaika{
            margin-top: 0px;
        }
    }
   
}