@import '../settings';

#toteutus-additional-information-box{
    
    background-color: #effaef;
    //box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    max-width: none;
}

.toteutus-additional-info-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

.rectangle {
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #378703;
    position: relative;
    left: 50%;
    top: 50%;
    margin-bottom: 30px;

 }

 .toteutus-additional-info-box {
     padding: 70px 200px;
     justify-content: space-evenly;
 }

 .toteutus-additional-info-dropdown {
    background-color: #effaef;
 }

 .hakukohde-info-span-box {
     display: flex;
 }

 .hakukohde-info-span-box-cell {
    display: grid;
}

.hakukohde-info-span-box-cell-title {
    display: grid;
    padding-right: 20px;;
}

.hakukohde-button {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 13px 40px;
    height: 40px;
    width: 117.17px;
    border-radius: 2px;
}

.valintaperusteet-button {
    color: #378703;
    background-color: #ffffff;
    border: 1px solid #378703;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 13px 40px;
    height: 40px;
    width: 117.17px;
    border-radius: 2px;
}

.paattynyt{
    background-color: #B2B2B2;
}

.aktiivinen{
    background-color: #378703;
}

.hakukohde-haku-button-wrapper{
    padding-top: 30px;
}

.hakukohde-info-title{
    font-weight: 600;
}

.valintaperusteet{
    float: right;
    margin-right: 150px;
}

.hakulomake{
    float: left;
}
