
#compare-row {
    #compared-subjects {
        padding: 40px 15px 40px 0;
        .compare-object{
            .compare-box {
                border: 2px solid white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                min-height: 160px;
                width: 97%;
                height: 100%;
                a{
                    color:#ffffff;
                    text-decoration: underline;
                    position: relative;
                }
                .title {
                    overflow: hidden;
                    margin: 15px 0;
                }
                .button {
                    width: 65%;
                    margin: 5% auto;
                    padding: 7px;
                    border: 2px solid #b2cce7;
                    text-align: center;
                    border-radius: 15px;
                    font-size: 13px;
                }
                .close {
                    border: none;
                    background-color: transparent;
                    -webkit-transition: ease-in-out .3s;
                    -moz-transition: ease-in-out .3s;
                    transition: ease-in-out .3s;
                    text-align: right;
                    margin: 5px 0;
                    color: white;
                    position: absolute;
                    right: 0;
                    opacity: 1;
                    font-size: 20px;
                    &:hover {
                        -webkit-transition: ease-in-out .3s;
                        -moz-transition: ease-in-out .3s;
                        transition: ease-in-out .3s;
                        cursor: pointer;
                        opacity: .75;
                    }
                }
                a {
                    display: block;
                }
            }
            &:nth-child(2) .compare-box {
                background: $opaque-blue;
            }
            &:nth-child(3) .compare-box {
                background: $yellow-ochre;
            }
            &:nth-child(4) .compare-box{
                background: $flat-blue;
            }
        }    
    }
    .compared-subjects-title {
        width: 14%;
        text-align: center;
        
    }
    .pull-right {
        border-left: 1px solid #bfbfbf;
        padding-bottom: 2%;
    }
}

#compare-row.hidden {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    height: 0;
}
#compare-row {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    min-height: 200px;
    height: auto;
    background: #e7f2f6;
}
#compare-row.closed {
    background: #ffffff;
    min-height: 25px;
    height: auto;
}
#compare-row.closed .container {
    visibility: hidden;
    display: none;
}
#compare-row {
    .pull-right {
        a{
            &:nth-child(1) {
                margin: 50px auto 25px;
            }
        }
    }
}
.compare-mobile{
    .compare-list{
        padding: 15px;
        height: 80px;
        overflow: hidden;
        margin-bottom: 10px;
        a{
            color: white;
            font-weight: bold;
            text-shadow: 0.5px 0.5px rgba(0,0,0,.35);
        }
        &.green{
            background: $opaque-blue;
        }
        &.gold{
            background: $yellow-ochre;
        }
        &.blue{
            background: $flat-blue;
        }
    }
    .compare-info{
        .info-col{
            justify-content: flex-end;
            margin-bottom: 10px;
        }       
        p{
            font-weight: bold;
            line-height: 15px;
        }
        .green{
            color: black;
            @include rgba-color($opaque-blue, 0.25);
        }
        .gold{
            @include rgba-color($yellow-ochre, 0.25);
        }
        .blue{
            @include rgba-color($flat-blue, 0.25);
        }
    }

}
@media (max-width: 1200px) {
    #compare-row #compared-subjects {
        padding: 15px 15px 40px 0;
    }
}

@media (max-width: 992px) {
    .pull-right {
        border-left: none !important;
    }
    #compare-row #compared-subjects {
        padding: 15px 15px 0 0;
    }
}

@media (max-width: 768px) {
    #compare-row {
        #compared-subjects {
            padding: 0 0 40px;
            .compare-object{
                margin-bottom: 15px;
                .compare-box {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }            
            .compared-subjects-title {
                padding: 30px 0 15px;
            }
        }
        .pull-right {
            padding-bottom: 30px;
            a:nth-child(1) {
                margin: 0 auto 25px;
            }
        }
    }
}