
$compared-items: (
    green: $opaque-blue,
    gold: $yellow-ochre,
    blue: $flat-blue
);

h1 {
    margin-top: 40px;
    a{
        &.header{
            margin-top: 40px;
            text-decoration: none;
            color: black;
            .icon-ic-back-button{
                position: relative;
                top: 5px;
                margin-right: 10px;
                @include fluid-sizing('font-size', $h1-icon-font-size-map);
            }
        }
        &:hover{
            text-decoration: none;
            span{
                &.light-font{
                    text-decoration: underline;
                }
            }
        }
    }
}
.compare-page {
    margin-top: 30px;
    .col-md-3 {
        padding: 0;
        .compare-list{
            li{
                &:nth-child(2) {
                    border-top: 0;
                }
            }
            .compare-list-item {
                padding: 25px 0;
                font-weight: bold;
                height: 100px;
                overflow: hidden;
                border-left: none;
                border-right: none;
                border-top: 1px solid black;
                border-bottom: none;
                background: transparent;
                position: relative;
                display: block;
                &:first-child {
                    border: none;
                }
                &:last-child {
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    .inner {
                        border-bottom: 1px solid #ccd6df;
                    }
                }
                .inner {
                    margin: 0;
                    display: block;
                    height: 100%;
                    width: 96%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    text-align: left;
                    border-left: 1px solid #ccd6df;
                    border-right: 1px solid #ccd6df;
                }
                p {
                    position: relative;
                    margin-left: 25px;
                    color: #1c1c1c;
                }
            }
            .compared-items{
                overflow: hidden;
                .compare-box{
                    min-height: 200px;
                    height: 100%;
                    border-top: 1px solid #ccd6df;
                    border-left: 1px solid #ccd6df;
                    border-right: 1px solid #ccd6df;
                    width: 96.5%;
                    position: relative;
                    right: -4%;
                    padding: 0 15px;
                    &.no-content {
                        border: 0;
                    }
                    .title {
                        color: white;
                        text-decoration: underline;
                        position: relative;
                        top: 15px;
                    }
                }
            }
            @each $item, $color in $compared-items{
                &.#{$item}{
                    .compared-items{
                        .compare-box{
                            background: $color;
                        }
                    }
                    .inner {
                        @include rgba-color($color, 0.25);
                    }
                }
            } 
        }
    }   
}
