@import '../settings';

#compare-row {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    #compared-subjects {
        padding: 30px 15px 0 0;
        .compare-object{
            .compare-box {
                border: 1px solid white;
                max-height: 120px;
                overflow: hidden;
                width: 97%;
                height: 100%;
                .item-text{
                    max-height: 110px;
                    overflow: hidden;
                }
                a{
                    color:#ffffff;
                    text-decoration: underline;
                    position: relative;
                    @include fluid-sizing('font-size', $text-font-size-map);
                    display: inline;
                }
                .title {
                    overflow: hidden;
                    margin: 15px 0;
                }
                .button {
                    width: 65%;
                    margin: 5% auto;
                    padding: 7px;
                    border: 2px solid #b2cce7;
                    text-align: center;
                    border-radius: 15px;
                    font-size: 13px;
                }
                .close {
                    border: none;
                    background-color: transparent;
                    -webkit-transition: ease-in-out .3s;
                    -moz-transition: ease-in-out .3s;
                    transition: ease-in-out .3s;
                    text-align: right;
                    margin: 5px 0;
                    color: white;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    opacity: 1;
                    font-size: 20px;
                    &:hover {
                        @include transitions();
                        cursor: pointer;
                        opacity: .75;
                    }
                }
                a {
                    display: block;
                }
            }
            &:nth-child(2) .compare-box {
                background: $opaque-blue;
            }
            &:nth-child(3) .compare-box {
                background: $yellow-ochre;
            }
            &:nth-child(4) .compare-box{
                background: $flat-blue;
            }
        }    
    }
    .compared-subjects-title {
        width: 14%;
        text-align: center;
        
    }
    .pull-right {
        border-left: 1px solid #bfbfbf;
        padding-bottom: 2%;
        a{
            &:nth-child(1) {
                margin: 50px auto 25px;
            }
        }
    }
}

#compare-row.hidden {
    @include transitions();
    height: 0;
}
#compare-row {
    @include transitions();
    height: auto;
    background: #e7f2f6;
}
#compare-row.closed {
    background: #ffffff;
    min-height: 25px;
    height: auto;
}

.compare-mobile{
    .compare-list{
        padding: 15px;
        height: 80px;
        overflow: hidden;
        margin-bottom: 10px;
        a{
            color: white;
            font-weight: bold;
            text-shadow: 0.5px 0.5px rgba(0,0,0,.35);
        }
        &.green{
            background: $opaque-blue;
        }
        &.gold{
            background: $yellow-ochre;
        }
        &.blue{
            background: $flat-blue;
        }
    }
    .compare-info{
        .info-col{
            justify-content: flex-end;
            margin-bottom: 10px;
        }       
        p{
            font-weight: bold;
            line-height: 15px;
        }
        .green{
            color: black;
            @include rgba-color($opaque-blue, 0.25);
        }
        .gold{
            @include rgba-color($yellow-ochre, 0.25);
        }
        .blue{
            @include rgba-color($flat-blue, 0.25);
        }
    }

}
@media (max-width: 1200px) {
    #compare-row #compared-subjects {
        padding: 15px 15px 40px 0;
    }
}

@media (max-width: 992px) {
    .pull-right {
        border-left: none !important;
    }
    #compare-row {
        @include rgba-color($main-bg, .8);
        .compared-subjects-title,
        .clear-compare{
            display: none;
        }
        #compared-subjects {
        padding: 15px 15px 0 0;
        margin-top: 20px;
            .compare-object{
                height: 55px;
                .compare-box{
                    height: 50px;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                }
            }
        }
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    #compare-row {
        #compared-subjects{
            justify-content: center;
            .compare-object{
                margin: 0 -15px;
            }
        .pull-right{
            padding-bottom: 5px;
            a{
                &:nth-child(1){
                    margin: 20px auto 15px
                }
            }
        }
    }}
}

@media (max-width: 768px) {
    #compare-row {
        #compared-subjects {
            padding: 0 0 5px;
            justify-content: center;
            .compare-object{
                margin-bottom: 5px;
                padding: 0;
                .compare-box {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }            
            .compared-subjects-title {
                padding: 15px 0 0;
            }
        }
        .pull-right {
            a:nth-child(1) {
                margin: 0 auto 10px;
            }
        }
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    #compare-row {
        #compared-subjects {
            padding: 0;
            .compared-subjects-title {
                padding: 5px 0 0;
            }
            .compare-object {
                .compare-box {
                    height: 55px;
                    .item-text {
                        max-height: 45px;
                    }
                }
            }
        }
    }
}